[2020-08-04 09:57] xgdgsc opened #1 "using error"
[code]
fail to use after install like above

[2020-08-05 01:25] xgdgsc commented on #1
Turns out to be a mirror issue, removing from config works.

[2020-08-05 01:25] #1 closed

[2020-08-05 06:26] xgdgsc opened #2 "How to serve on 0.0.0.0?"

[2020-08-05 07:41] essenciary commented on #2
@xgdgsc Stipple runs on top of Genie so it inherits all the configuration logic. In this case add `Genie.config.server_host = "0.0.0.0"` somewhere before starting the server.
https://genieframework.github.io/Genie.jl/dev/API/configuration.html#Genie.Configuration.Settings

[2020-08-05 07:42] essenciary commented on #1
Thanks for the update.

[2020-08-05 08:43] xgdgsc commented on #2
Thanks. I have another issue when I update a dataframe on each call to get route "/", the table should update,   in REPL I tested it works. But when I run it in a julia script using `julia -i serve_df.jl` . Although the same get route "/" is called properly (I can get dataframe size increased as it query from database and print out). But the table on page isn' t updated to the new dataframe size u

[2020-08-05 08:52] essenciary commented on #2
Not sure about the details of your implementation but Stipple/Genie works with Revise - make sure you use it: https://github.com/timholy/Revise.jl

[2020-08-05 09:17] xgdgsc commented on #2
![image](https://user-images.githubusercontent.com/1189869/89392943-bac98500-d73c-11ea-81ea-c27e78083166.png)
I' ve put `using Revise` on top. I have this error in console.

[2020-08-05 09:33] essenciary commented on #2
That's OK, it's a warning, haven't seen any actual problems caused by that yet.

[2020-08-06 04:21] xgdgsc commented on #2
I feel the updating issue is because an unavailable websocket port. Now in dev env it works. But in prod env it throws errors:
[code]

[2020-08-06 04:21] xgdgsc commented on #2
I ran it like `GENIE_ENV=prod JULIA_PROJECT=./ julia -i AlphaBack.jl  `

[2020-08-06 22:09] Mirage10 opened #3 "using Stipple ... not working"
Hello!

I have added the package Stipple to the environment and want to start in julia 1.6 REPL with the line:
julia>using Stipple

the system states:
using Stipple
ERROR: ArgumentError: Package Stipple [4acbeb90-81a0-11ea-1966-bdaff8155998] is required but does not seem to be installed:
 - Run `Pkg.instantiate()` to install all recorded dependencies.

Stacktrace:
 [1] _require(::Base.PkgId) at ./

[2020-08-07 05:31] xgdgsc commented on #3
https://github.com/GenieFramework/Stipple.jl/issues/1#issuecomment-668917784  Probably the same issue.

[2020-08-07 05:40] xgdgsc commented on #2
I just copied `config/env/dev.jl` to `prod.jl` and it works. Thanks.

[2020-08-07 05:40] #2 closed

[2020-08-07 20:14] essenciary commented on #3
Yes, looks like a Pkg/registry issue.

[2020-08-10 19:05] Mirage10 commented on #3
hello all.

is there a workaround to circumvent this issue?

[2020-08-17 11:34] essenciary commented on #3
Maybe delete `~/.julia` (keep the `dev/` folder if you developed any packages) and try again.

[2020-08-23 11:04] szafna opened #5 "Documentation"
Stipple looks really promising. Honestly, I am a bit lost without documentation. Any near term plan it?

[2020-08-23 20:30] essenciary commented on #5
@szafna Yes, API, features and docs are WIP. A few weeks hopefully.

[2020-08-25 09:07] hhaensel commented on #5
Similar impression for me!
Stipple looks like a great package. It is really fast and responsive but difficult to understand from the examples only.

I am particularly confused by the many `using` statements like
[code]

Furthermore, I was surprised to see `using Revise` in the `StippleCharts.jl`

If you could comment on the concept, that would probably be helpful for many potential users.

[2020-08-25 10:05] essenciary commented on #5
@hhaensel For sure, good docs are a must. The demos are rather artifacts of the recent JuliaCon presentation and the best we have atm.

Not sure what is surprising about the `using` statements and about `Revise`?

[2020-08-27 10:55] hhaensel commented on #5
I saw your presentation of the JuliaCon and found that the demo was quite impressive.

- I was surprised that you split your code in so many sub-modules which all import the main module, and not just simply include all UI-Elements.
- I never used Revise within a module to track changes of files. I always understood it rather as a development/debugger tool. Do you use it to make the server responsi

[2020-08-27 11:30] essenciary commented on #5
@hhaensel Absolutely no offense, always looking to learn. The project is very early stage so the API is highly experimental. I see 2 points:
1 - the elements are not exported
2 - the elements are wrapped in modules

Re #1 that can be easily addressed by (re)exporting them from Stipple. I prefer to not optimize prematurely. I'm sure down the line the pros and cons will become clearer.
Re #2 I think

[2020-08-28 11:59] hhaensel commented on #5
@essenciary
I never developed full-fledged apps with Julia, so I might be the wrong person to optimise your code ;-)
But if I look at other packages like WebIO there are no dependencies the user needs to load with `using ...`.
I don't see an advantage of using modules over including code. It rather make things simpler as you don't have to import all depending packages.

Concerning Revise I think i

[2020-08-28 12:02] hhaensel commented on #5
Here I place a demo snippet for an x-y plot, which might be part of a documentation

[code]

[2020-08-28 12:16] essenciary commented on #5
@hhaensel Thanks!

Re modules, if I understand your point, it's a matter of scoping (users have to bring the definitions into scope by `using`). The scope can be modified by (re)exporting the definitions. It's a simple change that can be done at any time in minutes. Without pros or cons on either side I'd rather not decide at this point - we need more data.

Revise is not needed in Stipple so we s

[2020-08-28 16:16] hhaensel commented on #5
I also eliminated all Revise statements from Genie and it still works ...
Also for Genie, I am not so sure whether unchecked code reloading is a good idea...
Maybe @timholy (the author of Revise) has some good advice here?

[2020-08-29 10:53] essenciary commented on #5
What exactly worked and under what conditions? Certainly code reload in a Genie app can't work if there is no Revise on the system. So somewhere, somehow, code gets revised.

What do you have in mind?

[2020-09-01 06:51] hhaensel commented on #5
I think for code reloading it would be good to have a well-defined set of files that are to be checked for changes. However, `Revise` checks all subsequently loaded packages for changes and executes them. I don't know whether it is possible to suppress automatic reloading for all packages and allow only specific files (and packages, if needed).
But, again, I think I am a weak mentor for a deeper d

[2020-09-01 08:23] hhaensel commented on #5
Meanwhile, I played a bit with the dashboard and I am really happy with the output that can be achieved.
(Can you help, where to place the logo file, if I run the script below straight from the REPL?)

[code]
![image](https://user-images.githubusercontent.com/31985040/91824042-6da4da00-ec3a-11ea-8f7c-f08d246992e8.png)

[2020-09-02 21:07] PallHaraldsson commented on #3
I also got this but master works (this far, didn't try further):

[code]

so maybe tag a version?

[2020-09-03 00:42] Mirage10 commented on #3
here the julia version:
julia> versioninfo()
Julia Version 1.6.0-DEV.818
Commit 0bff5bf0c5* (2020-09-02 13:42 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) CPU E3-1535M v6 @ 3.10GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-9.0.1 (ORCJIT, skylake)

[2020-09-04 06:14] GiraffeKey opened #7 "CSRF Protection"
Since the library handles both client and server, I think it would be very helpful to have first class CSRF protection. The Echo framework provides middleware that has a good solution: https://echo.labstack.com/middleware/csrf

Basically: Backend generates a secure token and stores it in a cookie. All frontend requests from then on send the cookie in the header. The backend only accepts requests t

[2020-09-07 11:00] essenciary commented on #3
@PallHaraldsson I was curious as to why it doesn't work, but sure, we can tag a "maintenance" release if that fixes whatever breaks.

[2020-09-07 19:29] PallHaraldsson commented on #3
I just know I got/get:

[code]

When I think about it, I'm not sure a tag for v0.2.0 would have fixed this...

I see:
[code]
does the trick too, but then I would have to know to ask for that latest (non-tagged) version.

[2020-09-08 10:32] Mirage10 commented on #3
this leads to
(@v1.6) pkg> add Stipple@v0.2.0
   Updating registry at `~/.julia/registries/General`
   Updating git-repo `https://github.com/JuliaRegistries/General.git`
  Resolving package versions...
ERROR: invalid version: "0.0.0"
Stacktrace:
  [1] error(s::String)
    @ Base ./error.jl:33
  [2] semver_interval(m::RegexMatch)
    @ Pkg.Types ~/julia/usr/share/julia/stdlib/v1.6/Pkg/src/versions.

[2020-09-15 06:12] essenciary commented on #7
@GiraffeKey Sounds like a great idea, I'll take a look! If you feel like trying to implement it, I'm happy to merge!

[2020-09-23 22:03] hhaensel opened #9 "'$' sign not working `js_methods()`"
Usage of '$' sign in `js_methods()` fails due to double backslashes from json renderer.
PR #8 addresses that issue.
Example code: `this.unwatch = this.\$watch("downloadtext", this.pushDownload);`

[code]
generates the double amount of backslashes needed.
`replace(..., "\\\\" => "\\")` solves the problem.

[2020-09-24 09:09] essenciary commented on #9
@hhaensel Thank you, merged! 🎉🙌

[2020-09-24 09:09] #9 closed

[2020-10-07 17:09] hhaensel opened #10 "Multiple instances of the same Dashboard"
For various purposes it sounds like a tempting idea to launch several instances of the same Dashboard. However, currently all ws connections use `Genie.config.webchannels_default_route` as channel. Different instances should have different channels.

I propose to allow for an additional parameter `channel` that can be passed to `Stipple.init()`, which assures that the model as well as the js backe

[2020-10-08 09:44] essenciary commented on #10
@hhaensel Thank you, I merged them, that's awesome stuff! I'm not sure I fully understand the use case but I still find this a valuable addition.

What do you mean by `launch several instances of the same Dashboard`?

If you're thinking about multiple users using the same app but controlling their own state (eg the model) we don't need different channels. We need different instances of `Model`. In

[2020-10-08 13:40] hhaensel commented on #10
That's exactly what I'm doing. But during `states[sessionid] = Stipple.init(...)` the webchannel is setup to be the default channel ( normally "__").
Any change in one of the connected clients will trigger a broadcast to all connected clients, irrespective of the model, they are connected to. Therefore, I also personalise the ws-channel and restrict broadcasting only to the correct user in `setup(

[2020-10-08 14:36] essenciary commented on #10
Ah yes, I forgot that we're broadcasting. My initial thought was to use `message` (https://github.com/GenieFramework/Genie.jl/blob/f8d729722ed2a8a6d91cb365b748398e7d08641a/src/WebChannels.jl#L266) but I was short with time for JuliaCon and went for broadcasting instead. Switching to `message` would require some changes to keep a reference to the web socket client.

Can you share some code when you

[2020-10-08 16:30] hhaensel commented on #10
Just a comment on the advantage of this setup:
Implementing user-specific channels keeps the state of an app stable even under usage of different browsers or computers. You can also do co-working if two users sign on with a certain key.

[2020-10-08 16:51] hhaensel commented on #10
**A short example (without testing...)**

[code]
[code]

[2020-10-08 16:52] hhaensel commented on #10
For testing, you can also set `header2user(header) = "test-user"` and open two browser windows

[2020-10-08 17:55] essenciary commented on #10
I think there's multiple things mixed here:

1 - the authentication mechanism: you think headers, I think cookie/URL but basically it's the same idea. A session id which can be shared (or placed behind a login). It doesn't really matter how the key is passed into the app.

2 - you use broadcasting to one client - I would go for messaging one client. Different approaches but I can't see any pros/co

[2020-10-10 07:37] hhaensel commented on #10
Thanks for merging so quickly!
Let me comment on your points

1 - totally agree, but for my purpose that was the easiest and quickest way, as we have to use a loadbalancer anyway

2/3 - maybe, the logic of your setup is cleaner. I'll think about implementing it that way

And I found that the setup accidentally worked on my private machine but not on when I pushed it to a docker. I had a small erro

[2020-10-10 15:06] essenciary commented on #10
Thanks, merged! I'll see if I can come up with anything on my side.

[2020-10-10 21:41] hhaensel commented on #10
I read a bit about vue. It seems that we would need to either move the watchers into the methods section or to check for even.originalEvent...

[2020-10-16 09:09] essenciary commented on #3
@Mirage10 Glad that it works on 1.5. No similar incidents have been reported and Stipple went through multiple releases (v0.6) now. Unfortunately atm I don't have the bandwidth to support Stipple on nightly Julia. If it's still an issue on v1.6 and you can investigate, I'm happy to assist.

Closing this - please reopen or comment if you have any updates.

[2020-10-16 09:09] #3 closed

[2020-10-16 11:15] PallHaraldsson commented on #3
FYI: Works on Julia 1.6 (but see interesting timings).

This works in my 31 days old master:
[code]

[2020-10-17 00:07] PallHaraldsson commented on #3
Maybe I spoke too soon, posting in case you need to follow up:

On more recent f9ee161277 (4 days old master)
[code]

Might be fixed on latest, I did file some other bug, and it was a duplicate (of something already solved if I recall).

[2020-10-21 16:30] hhaensel commented on #10
I just submitted PR #14

[2020-10-27 19:38] essenciary commented on #10
@hhaensel this seems to work great on the master branch. I'll add a link to a demo video in a few minutes.

[code]

[2020-10-27 20:02] essenciary commented on #10
Oh no, it doesn't fully work :( I thought it did as some parts do, but it seems the state doesn't get synced with the backend (just the front does).

[2020-10-27 20:41] hhaensel commented on #10
Could you submit the Stipple and console logs here?

[2020-10-27 21:25] hhaensel commented on #10
Well, I'll have a look tomorrow

[2020-10-28 08:22] essenciary commented on #10
I'm also digging into this per the path we discussed. I got to the same point of needing to broadcast the changes to the rest of the clients :-/

I will push my changes in a branch.

[2020-10-28 10:09] hhaensel commented on #10
If you replace page by dashboard, it already works. I think I found the culprit. I am currently only on my mobile. But no need to search further

[2020-10-28 10:49] essenciary commented on #10
I implemented a series of changes in Genie and Stipple to support this, based on the code in your branch. I pushed the changes on Genie master and Stipple master - can you please take a look? I have not included the changes you made in the JS files yet.

Test code:

[code]

[2020-10-28 10:52] essenciary commented on #10
The only issue is that at some point the web sockets connection closes :((((( (at least of FF, I haven't checked other browsers yet).

My tests so far show:
1 - one browser window - updates work 2-way perfectly
2 - two browser windows - updates work from browser to julia and the data is synced between browser windows
=> however, attempting to push an update from Julia fails (web socket connection

[2020-10-28 11:16] essenciary commented on #10
I checked the currently published version of Stipple and that pretty much doesn't work with multiple windows as it doesn't broadcast the changes to all the connected clients. However, pushing from Julia updates all the clients.

So the master versions work better (both single and multi user) but it needs more tweaking. It's not a Firefox issue, I tested on Edge and it's the same.

[2020-10-28 11:55] essenciary commented on #10
I can't believe it but it actually works
https://www.dropbox.com/s/q30z6ogd791m8o3/stipple_multi_user.mov?dl=0

Debouncing needs some tweaking as the updates are pushed slower than typed.

[2020-10-28 11:56] essenciary commented on #10
This is the test code with Genie and Stipple master (dev)

[code]

[2020-10-28 12:10] essenciary commented on #10
If it works for you too, we only need to add the production vue mixin, I think.

[2020-10-28 17:23] hhaensel commented on #10
You also found out that somehow the channel got lost in `page()` ...

Besides the mixin, I think I need to port the following points:

- broadcasting happens after `update!(model, field, new, old)`. This leads to strange behaviour if buttons are pressed and two clients are connected: The button sets `model.button` to `true` and the correspoding routine `on(callback, model.button)`,  e.g.
[code]
On

[2020-10-28 21:17] essenciary commented on #10
@hhaensel Yes, I'm not a fan of how we need to pass `channel` in so many places (with `init`, with `page`). It's easy to forget so error prone. Once we release this feature it's worth refactoring the API a bit. The easiest thing would be to check for a `channel` property on the model instance - though this approach is not idiomatic Julia.

Re first point I didn't realise it was an issue. I like th

[2020-10-28 21:19] hhaensel commented on #10
I can do it tomorrow

[2020-10-29 12:15] hhaensel commented on #10
Pushed my commits.
My test case is
[code]

[2020-10-29 12:17] hhaensel commented on #10
@essenciary I needed to add Stipple 0.7 to compat of StippleCharts. Could make a new version and set the compat?

[2020-10-29 14:27] essenciary commented on #10
@hhaensel I've already made some updates but I haven't pushed yet. Here is what I added:
![image](https://user-images.githubusercontent.com/11292378/97586901-15e8dc00-19fb-11eb-970e-196c8551869b.png)

If you have the same, yes please. I've sent you an invite for the StippleCharts repo.

[2020-10-29 14:54] hhaensel commented on #10
Sounds good, please push.

Have you tested from your side? And have you tested other apps?

[2020-10-29 15:04] essenciary commented on #10
Will test a bit later and if all good register Stipple @ v0.7. Once that is released I'll push and register StippleUI and StippleCharts 😊

P.S. - managing and versioning so many dependent packages is pretty messy. Thinking of a tool (maybe using GitHub actions) to automate these.

[2020-10-29 15:38] hhaensel commented on #10
If you think about refactoring, I recommend to have introduce private properties, that are not shared with the browser. One could, e.g., decide that fields starting with a _ are not broadcasted nor watched

[2020-10-29 21:24] essenciary commented on #10
@hhaensel That's a great point, we should allow private properties. Related to this, I also thought about read-only properties (that can only be updated one way, eg from backend to front, to implement security). Maybe we can define some wrapper types `Private{...}`, `ReadOnly{...}`, etc?

[2020-10-29 22:44] hhaensel commented on #10
That's exactly what I had in mind.

I just pushed a slight modification to Stipple and requested a [PR for Genie](https://github.com/GenieFramework/Genie.jl/pull/297) in order to make Stipple and Genie consistent

[2020-10-29 22:46] hhaensel commented on #10
I think, we could put the mixin in a general place. Would be stipplecore.js a good location for that?

[2020-10-29 22:57] hhaensel commented on #10
Multiple users now works like a charm and the sources are nicely organised 😄
![grafik](https://user-images.githubusercontent.com/31985040/97641121-7bac8680-1a42-11eb-888b-2f95073a67d9.png)

[2020-10-29 22:58] hhaensel commented on #10
This is my latest testcase:
[code]

[2020-10-30 08:33] essenciary commented on #10
All right - pulling all the masters and putting my tester hat! Will run through all the demos. 🚀

[2020-11-07 09:28] essenciary commented on #10
@hhaensel I've been doing some testing and it looks like the switch from `parse` to `convert` is breaking some features. I'm debugging it atm and we'll merge once I figure it out.

[2020-11-07 10:40] hhaensel commented on #10
I very recently realised that you had define your own parse routine, and I confused Base.parse with Meta.parse.
Most probably things will work fine if you eliminate `string()` from the fallback.
No time for testing right now. Will look into it this evening, if you haven't solved it by then 😉

[2020-11-07 21:37] essenciary commented on #10
I'm working on it - I think I'll just reverse to `parse` given that it's used as the extension mechanism in StippleUI and StippleCharts. Unless there's a clear benefit with using convert? Sadly for now the package won't precompile and for the life of me I can't tell why :-O

[2020-11-08 00:18] hhaensel commented on #10
Could you paste a minimal example of where it goes wrong?

[2020-11-08 00:20] hhaensel commented on #10
Anyhow, inverting the order should be ok for me, because I encountered an error during Base.parse.

[2020-11-08 09:33] essenciary commented on #10
@essenciary Fixed the issue - everything is merged except for the `convert` instead of `parse`. That would require updating all the `parse` methods in UI and Charts. We can do it later if at all.

I released a new Genie 1.8 which includes the support for the new Stipple features. Stipple release coming up. Then UI and Charts :)

[2020-11-08 21:09] hhaensel commented on #10
Great you now released all the versions 👍

I still wonder, whether it would a good idea to have the `convert()` in the catch part. So something like

[code]
Tomorrow I will find some time for testing.

[2020-11-09 09:05] hhaensel commented on #10
I think the root cause for the problem is that Integers are not part of the Reals, so `Int64 <: Float64` is `false`
But I found a cure for my problem which reads:
[code]

[2020-11-09 15:51] hhaensel opened #15 "version numbers"
@essenciary
I think there is some confusion with the versions. The title of the last commit says "v0.8", but the Project.toml says 0.7 ...

[2020-11-09 21:03] hhaensel commented on #10
Finally, I paste my latest test file here. If you leave out the definition of `Base.parse()` you receive an error as soon as the old value or the new value of a slider is an integer.
With this, I think, we can close this issue 😄
[code]

[2020-11-10 14:51] essenciary commented on #15
@hhaensel Thanks - the project version is right and it was successfully registered. To be honest I'm having problems remembering the versions of each package, I need to set up some system.

[2020-11-10 14:51] #15 closed

[2020-11-10 14:57] essenciary commented on #10
@hhaensel Should we extend with the `parse` method into StippleUI or directly in Stipple? Eg: `Base.parse(::Type{Float64}, v::T) where {T<:Real} = convert(Float64, v)`.

If we put it in Stipple, I'm not sure it's always desirable. If we put it into packages, multiple packages might declare it, leading to to conflicts (and it would count as type piracy, I guess).

[2020-11-11 08:26] hhaensel commented on #10
I was also unsure whether we should put in StippleUI for pretty much the same reasons that you pointed out. Did you test my proposal above?

[2020-11-11 10:35] essenciary commented on #10
@hhaensel Thank you. The `try/catch` approach works but I'm not a fan. Exceptions are expensive computationally and this will be triggered a lot - and it's really a certainty that it will happen, it's not really an _exception_. So we should address it in a scalable and reliable manner, I think.

[2020-11-11 22:48] hhaensel commented on #10
I understand your point. I see three ways
- use my previous workaround and integrate it in Stipple
- if we want to avoid type piracy we can check the float types manually with `typeof`
- we should understand why it fails for your use case and provide a solution

For the last point I'd love to see a minimum example. It's probably linked to a certain type you are using.

[2020-11-12 21:29] hhaensel commented on #10
Finally, I paste my latest test file here. If you leave out the definition of `Base.parse()` you receive an error as soon as the old value or the new value of a slider is an integer.
With this, I think, we can close this issue 😄
[code]

[2020-11-13 21:37] mkschulze commented on #7
Here is a good article about how it's done in Flask. Quite interesting read I think.
https://testdriven.io/blog/csrf-flask/

[2020-11-16 15:05] essenciary commented on #10
@hhaensel Thanks for the example, very useful for the tests :)

I've been digging into this and type piracy is a big issues, so that's a no go. And with the computational costs of exceptions being high, I came up with this solution:
https://github.com/GenieFramework/Stipple.jl/commit/e78440f9f478a625f14f12fdd87ec72abc68c2d2

Julia is very fast at checking types so we can use that to our advantage.

[2020-11-16 15:06] essenciary commented on #10
@hhaensel Btw, would you like to contribute this example to the demo repo? https://github.com/GenieFramework/StippleDemos

[2020-11-17 14:09] hhaensel commented on #10
I think we should close this long issue and address everything else in new issues.
Happy to see it all working 😃 🚀

[2020-11-17 14:09] #10 closed

[2020-11-17 14:19] hhaensel opened #16 "WIP: multi-app pages"
I have come across a situation where I wanted to display two models on one page, e.g. to display the models of two different users.

Currently, there are several obstacles here:
- GenieAssets resets the Genie variable everytime it loads
- The websocket does not know, via which channel it was addressed, so distribution of change messages is impossible
- Another instance of the same model receives t

[2020-11-17 14:54] essenciary commented on #10
@hhaensel Yeeee! Throwing one more thing here in case we want to create a new issue for it. What is your take on Jupyter/Pluto integration?

[2020-11-17 15:08] hhaensel commented on #10
I was not aware of Pluto - now I am ...
For me, the use case of Stipple was to deploy an app without having the user to bother with any line of code. This is the contrary of Pluto/Jupyter.

I could well imagine that stipple apps live within a notebook cell, but I am probably not the one to implement this 😉

[2020-11-18 08:18] essenciary commented on #10
It could open interesting workflows, like no deployments at all, by coding directly on the server/cloud, cloning+editing+republishing a public notebook, etc. I have it on my todo list but indeed, it's a different approach.

[2020-11-19 07:59] hhaensel commented on #16
I've pushed a version with a single socket to my forks of Genie and Stipple as hh-multiapp

[2020-11-20 09:20] hhaensel commented on #16
I've also pushed a branch hh-multiapp2, where I realised a version with multiple websockets. Could you comment, what seems more appropriate to you? Or shouldn't we address it at all?
I am still struggling in finding a good solution for the variable naming. Currently, it only works with two models with different name. Perhaps something like
[code]
and later add the watchers accordingly?

[2020-11-20 16:57] hhaensel commented on #16
@essenciary the idea above worked.
I'd be happy if you could have a look at the branch hh-multiapp2 of both Stipple and Genie. Together they work happily with multiple apps on one page, even two identical apps.
I have now chosen two approaches to realise multi-app support with identical models.
- `stippleApps[$channel]` holds all the apps, while `$vue_app_name[$channel]` holds all instances of a p

[2020-11-20 17:00] hhaensel commented on #16
P.S.: I submitted a PR for Genie (the client checking was not correct ...). This correction is already part of my latest Genie hh-multiapp2.

[2020-11-24 13:26] essenciary commented on #16
@hhaensel Thank you, I've merged the PR and released a pretty hefty 1.9 upgrade for Genie. Will take a look at your Stipple branches next.

[2020-12-22 16:28] szafna opened #17 "Stacktrace in function inside on() does not propagate back to stdout/stderr"
Hi,
I have a small stipple reactive app. It is really nice and reactive and responsive framework.
I have observers and use on() function. There are some functions from my package inside on() function. I've found out if there is an error somewhere in my function, error/stacktrace  is not get propagated back to stdout/stderr. Execution of on() function just silently breaks - returns out of on() func

[2020-12-29 18:17] essenciary commented on #17
Hi!

This is implemented using `Observables.jl` - I'm not sure if it provides any API for bubbling the exceptions into the main thread. It would be interesting though.

[2021-01-02 13:17] touchft commented on #5
Stipple is great! Julia is a great tool for big data. Now we have great tool for data visualization on web !

[2021-01-02 13:30] touchft opened #18 "[Help] How to draw a image (xx.jpg) on canvas ?"
Stipple is great tool for me to display data on the web !  I need a bit of help to dynamically display a image on the canvas. The following is my situation:

I have a serial of images (from some video) to be processed and I want to the processed image to be displayed on the canvas automatically if I bind the something to the image variable.

A similar situation used in Dash example is  [here!](htt

[2021-01-02 14:36] touchft opened #19 "[Help] How to show an image and video ?"
Please give an example. Thanks.

[2021-01-03 08:12] hhaensel commented on #19
I recommend to use the q-img and q-video components.
Currently StippleUI does not support these components. But you can always use any existing quasar or vue components by adding the raw code that is referenced in quasar or vue manuals.

q-img is referenced [here](https://quasar.dev/vue-components/img) and from there view the source code or try the respective codepen.io example.

You can also writ

[2021-01-04 09:28] essenciary commented on #19
@hhaensel 's approach is the best approach for dynamically rendering/updating the image/video from Julia. For displaying a static image/video (that does not require updating) the HTML API is easier (eg `img(src="...", alt="...")`). So it depends on what you're looking to achieve @touchft

[2021-01-04 09:45] essenciary commented on #18
@touchft Thanks for the details, this looks like a great use case for Stipple indeed. As @hhaensel mentioned in the other issue, we need to add an image wrapper to Stipple. I'll take a look at this, I'll try to squeeze it into my schedule this week. Please do keep us in the loop re your progress, eg if you're trying the implementation described by @hhaensel

[2021-01-04 09:50] essenciary commented on #18
Looking at the Dash demo, would you show the images instead of the youtube video?

[2021-01-04 11:51] hhaensel commented on #18
With @essenciary 's API it is quite easy to build wrappers for a new element. But in order to facilitate the usage of any quasar element I propose to introduce a general wrapper along the following lines:
[code]
An image as in @touchft 's requirement would then be implemented by
[code]
Note that the  `spinner-color` argument needs to go with the arguments, as hyphens are not allowed in keyword arg

[2021-01-04 17:43] hhaensel opened #20 "scope of macros (@data, @bind, etc.)"
I have a string variable, say `opts = "myopts"` and I want to have the content linked to a field of an element.

I first tried
[code]
However, this fails, because the `@data` macro is not executed in the `Main` module, but in `Stipple.Elements`. Also feeding variables does not work for the same reason.

In order for this to work, `expr` must be escaped:
[code]

Analogously, also the other macros w

[2021-01-04 17:56] hhaensel commented on #20
I'd go with the following definition
[code]

[code]

[2021-01-05 11:52] hhaensel commented on #20
The old version would allow the following usage:
[code]
But I think this is not very Julian, and it would fail at
[code]
The proposed variant would accept
[code]
In order to also accept
[code]
we would need to escape the simple quotes
[code]

[2021-01-05 11:52] hhaensel commented on #20
@essenciary Shall I apply these changes?

[2021-01-05 16:17] essenciary commented on #20
@hhaensel
1. it is removing the starting column as I can not replicate your output. In my case, the starting column for symbols it kept, and it should not be outputted in JS.

Ex:
[code]

2. It makes sense to allow passing JS strings, for sure. Wondering if it's better to define a `@js` helper instead which might allow us to do processing right there, instead of adding the logic in each handler? I

[2021-01-05 21:36] hhaensel commented on #20
I see, this problem does not occur for escaped epressions 😃, moreover, the string in the on-macro can be eliminated.

[code]

Maybe, this can too easily be confused with other js-macros which are already around. In this particular case, only the simple quotes need to be escaped. And currently I only see these two applpications.

[2021-01-06 07:25] essenciary commented on #20
1. awesome! 😎
2. agreed 👍 we can introduce `@js` at some other time, if needed

[2021-01-06 09:30] #20 closed

[2021-01-06 13:42] touchft commented on #19
@hhaensel @essenciary Thanks so much for both of you ! Now I am clear how to show dynamic images for both <img> tag or <q-img> tag.

[2021-01-06 13:53] touchft commented on #18
I learned API a bit of time. Now I can wrap <q-img>, but I still have no idea how to work on html canvas.   I think dynamically updating image data (drawImage) on canvas should be more efficient than updating image through url. Correct me if I am wrong.

[2021-01-06 13:58] touchft commented on #18
I processed a series of image (frame by frame from video) and than dynamically show the image. And I made it work! Thank you!

[2021-01-07 07:36] hhaensel commented on #18
That's great! 🚀

Did you use the canvas now?
Would you mind to extract an example and place it on the [demo site](https://github.com/GenieFramework/StippleDemos)?

[2021-01-08 13:48] touchft opened #21 "[improvement] Please provide wrap of plotly !"
Apexchart is great! My work needs 3D plot, unfortunately apexcharts cannot provide similar functions like polotly do. It is a bit of hard for me to figure out how to extend Stipple to support plotly, e.g., [vue-plotly](https://github.com/David-Desmaisons/vue-plotly).  I wish I know well of html and vue js.

Thanks.

[2021-01-08 14:19] essenciary commented on #21
@touchft This came up a few time recently so chances are we'll add support for Plotly in the next couple of weeks.

[2021-01-08 14:31] touchft commented on #21
Much thanks !!  How about I buy you couple of beers or coffee ! ^_^

[2021-01-10 20:21] junglegobs commented on #5
It's cool that this exists in Julia, but I have to say that I find it incredibly difficult to understand how to do anything other than just copy the examples. Even e.g. `?ReactiveModel` doesn't provide any useful hints!

[2021-01-11 08:54] essenciary commented on #5
@junglegobs Sorry about that, 100% agree - good docs is top of the priority list!

[2021-01-18 11:41] szafna commented on #17
Hi,
@essenciary  I've did some additional tests and found out:
-if observables is changed in REPL - ex: myobject.data[]="something", stacktrace is written to stdout/stderr
-if observables is changed in browser, stacktrace is not written to stdout/stderr
Could this be related with threading in Stipple?

[2021-01-18 12:33] essenciary commented on #17
Ah, interesting, thanks for the update. I presume that when done in the REPL the change is performed in the main thread and the exceptions bubble up. But possibly when done through the framework the updates go through a separate thread and they don't bubble up in the main thread. I need to check, I don't remember how things are set up.

[2021-01-19 20:21] essenciary opened #22 "Add option to include assets from CDN"
Add option in API to include assets from bundle or CDN

[2021-01-29 15:38] essenciary commented on #16
@hhaensel I merged the Genie PR - are there other PRs or issues that need merging/checking? Sorry for the delay. 😊

[2021-01-29 15:57] hhaensel commented on #16
I think, that's it. I committed the changes in Stipple and StippleUI without asking 😉

[2021-01-29 16:03] essenciary commented on #16
Yeeee, awesome, thanks so much! Looks like things are finally settling down a bit now on my side and I'll be able to put more time into Stipple. Plotly integration coming up (possibly next week) and then definitely docs, tests, etc, to ramp things up a bit.

Thanks for the contributions and helping with the issues!

[2021-02-01 20:37] hhaensel commented on #16
I think, that's it. I committed the changes in Stipple and StippleUI without asking 😉

[2021-02-05 08:14] hhaensel commented on #19
Then we close this?

[2021-02-13 00:05] hhaensel commented on #10
@essenciary
I thought about this again. What do you think, if we establish the convention that variables ending with underscore are read-only? That's pretty easy to realise. It's just a
[code]
in the channel watcher and it would prevent us from defining get and set functions for the wrapper.
Ending with two underscores could be private. This is not so easy to change in the code, though, because yo

[2021-02-17 11:40] PallHaraldsson opened #23 "Stipple multi-threading issues affecting REPL?"
Hi, I chose Stipple (over Dash.jl) despite no tutorials, since I believe in you and your work.

I might have some questions if ok, but wanted to let you know of a potential issue.

See the unrelated questions in B.

The REPL issue is obvious, but strange when you see it, and a known issue, stuff can appear when it shouldn't. I'm just trying to figure out what triggers it, and it well may be Revise

[2021-02-17 17:41] PallHaraldsson opened #24 "Add precompilation"
Currently:
[code]

takes seconds of startup, but could likely be even faster than:

[code]

Likely you would use Snoopcompile, I haven't look at recently after some changes, I only ran with: --trace-compile=stderr

to get:
[code]

what should help to be put in.

[2021-02-18 10:25] yakir12 commented on #19
This looks awesome! So just to be clear, your example from above, would that be simplified or different in any way considering your recent merged PR?

And if I dare ask, how exactly would I be able to change the image assuming I have an RGB matrix in Julia, or even a channel of a video:
[code]

[2021-02-18 10:42] yakir12 commented on #18
I too need to dynamically show frames from a video. Having a minimal example would be very helpful indeed!

[2021-02-19 16:32] hhaensel commented on #19
[code]
results in
[code]

[2021-02-19 18:04] yakir12 commented on #19
Sorry, I'm completely new to Genie and Stipple (reading the docs and trying things out, looks a m a z i n g). Any chance you could help me with a MWE (so really just the dynamic image part)? I'll gladly add a demo to the repo (if that's helpful)!

[2021-02-20 00:21] hhaensel commented on #19
Here you go!
[code]
![grafik](https://user-images.githubusercontent.com/31985040/108574458-c6b31800-7317-11eb-818f-aed53b5d507e.png)

Preparation:
- `]add FileIO, ImageIO` or `ImageMagick` for the saving of the file.
- create a subfolder "public/img" where the image will be saved as `demo.png`.
- for the nice footer you have to store the [st-logo.svg](https://raw.githubusercontent.com/GenieFramewo

[2021-02-20 00:36] hhaensel commented on #19
A simple video box can be realised by
[code]
But I guess you want to read frames explpicitly from the video. Then you could consider [`VideoIO.jl`](https://juliaio.github.io/VideoIO.jl/stable/reading/) and proceed as described above.

[2021-02-21 10:24] essenciary commented on #24
@PallHaraldsson that looks great, thanks so much. I'll set up a task, definitely worth adding in.

[2021-02-21 10:33] essenciary commented on #23
@PallHaraldsson Thanks so much - yes, the lack of docs is a big issue. Atm working on a couple more key features to stabilize the API then we'll focus on the docs and tests for a while. This is also holding back on the UI builder work, which will come after. It is a dedicated UI builder for Stipple apps based on Grapes.js. Yes, it is/will be possible to add CSS and one key aspect is themes support

[2021-02-21 17:40] PallHaraldsson commented on #23
There's no Manifest file. I'm just using your modified code, but there is (not something I'm using, directly; nor indirectly?):
  [5e69872b] Xcb.jl v0.2.0 `https://gitlab.com/poposca/Xcb.jl.git#master`

[2021-02-21 18:55] PallHaraldsson commented on #23
Good to know (is that a replacement for Quasar.dev? It's not obviously used together, seems like competitors). I took a quick look, it e.g. supports mobile. I know web-apps should be "mobile-first", for me not really a concern. But good to know supports the whole range. I did see (additionally) for Quasar, desktop apps possible (i.e. Electron app), at:

https://quasar.dev/introduction-to-quasar

I

[2021-02-21 22:47] hhaensel commented on #19
You can also use a base64 encoded png file:

[code]
I had problems evaluating `@btime` on the conversion (Benchmarktools crashed), so I defined alternatively
[code]

[2021-02-22 09:59] yakir12 commented on #19
Thank you so much @hhaensel!

I answered at Discourse as well, but it might be more appropriate to report the segfault here:

I got everything to work (using `StippleUI#master` though), but I had Julia **segfault** in both cases, via `Images` and `ImageShow`:
[code]
Ultimately, I plan to load the frames, so your base64 implementation sounds very attractive. I'll move on with saving the frames to d

[2021-02-22 10:35] essenciary commented on #10
@hhaensel In my opinion, it's better long term to use wrappers (more robust and more Julian). I can look into it these days, as we're looking towards v1, it's worth putting some time into it.

[2021-02-24 16:36] PallHaraldsson commented on #23
FYI: The REPL issue is also there in Julia 1.6-rc1

![image](https://user-images.githubusercontent.com/8005416/109033113-36315a80-76be-11eb-83b2-1d84a499dea3.png)

If I copy paste the invisible stuff I get:

[code]

This is clearly a bug in Julia not Stipple, but may be triggered by Stipple (threading).

[2021-02-25 11:30] hhaensel opened #27 "Registering version v0.9.0"
@essenciary Somehow, I can't release version v0.9.0 without it being the latest release. So currently I deleted the v0.9.0 release and just kept the tag. Perhaps you could help me here? (First time I'm tagging and defining releases ...)
Anyhow, v.0.9.1 is pulled correctly during update as well as the other packages StippleUI and StippleCharts.

[2021-02-25 11:53] essenciary commented on #27
What is the highest tagged release now? Did v0.9.1 go through?

[2021-02-25 12:00] hhaensel commented on #27
Yes that passed!

[2021-02-25 12:03] hhaensel commented on #27
The ordering of the tags is strange. Are they ordered by submission date?

[2021-02-25 12:08] hhaensel commented on #27
That was the point. Got it right now!

[2021-02-25 12:30] essenciary commented on #27
How did that work? Did the registrator allow v0.9 after 0.9.1? If not, I think we can just skip v0.9, Pkg will resolve it successfully, I hope. And we can release a v0.10 soon, to sort things out.

[2021-02-25 23:54] #27 closed

[2021-02-27 17:21] yakir12 opened #28 "Missing tests"
I noticed that Observable is stuck on 0.3, while 0.4 is out. Wanted to PR that but noticed there are no tests?

[2021-02-27 19:03] yakir12 commented on #28
Related, PR #29

[2021-02-28 01:07] hhaensel commented on #19
The issue was solved in [PNGFiles](https://github.com/JuliaIO/PNGFiles.jl/issues/32) :-)

[2021-02-28 01:07] #19 closed

[2021-02-28 12:27] yakir12 opened #30 "Toggle not working for Stipple#master"
The following MWE works for the released version of Stipple, `v0.9.2`, but not `master`:

[code]
Here are the versions I tested this with:
[code]

[2021-03-01 12:27] hhaensel commented on #30
Should be solved with the latest commit, thanks for pointing to it 😃

[2021-03-01 12:43] yakir12 commented on #30
It's the least I can do for all the help you've been providing me with!

[2021-03-01 12:45] yakir12 commented on #30
... and I can confirm. Closing this now.

[2021-03-01 12:45] #30 closed

[2021-03-02 13:24] hhaensel opened #32 "add js_computed() and js_watch()"
I propose to include add `js_computed()` and `js_watch()` in analogy to `js_methods()` and have submitted a draft PR #31

@essenciary Please comment what you think about that.

[2021-03-03 08:30] essenciary commented on #32
@hhaensel Thank you for the contribution, that makes a lot of sense!

[2021-03-04 19:04] JulesBlubb opened #33 "Pie Plot not showing up"
Hi,
I want to do a simple Pie-chart. The labels are displayed, but not the pie-chart. What am I doing wrong?
[code]

Thanks!! :)

[2021-03-04 19:39] essenciary commented on #33
@JulesBlubb What is the output of `julia> versioninfo()` and `pkg> st` please?

[2021-03-04 19:49] JulesBlubb commented on #33
[code]
[code]

[2021-03-04 20:03] essenciary commented on #33
You're a few versions behind on all the packages. Can you please update to latest version and see how it goes.

[2021-03-04 21:48] JulesBlubb commented on #33
I have updated all packages, but stayed with Julia 1.3.1. Do I need Julia 1.5?
Now the labels are also gone. Only the heading is shown.

[2021-03-05 21:51] essenciary commented on #33
Thanks - can you please check the JS console in the browser's developer tools and see if there are any errors?

[2021-03-05 22:20] JulesBlubb commented on #33
![Bildschirmfoto vom 2021-03-05 23-18-48](https://user-images.githubusercontent.com/5750890/110179978-45747e80-7e09-11eb-9166-4acd79aa2b0e.png)

[2021-03-05 23:43] essenciary commented on #33
Thanks - yes, I was able to reproduce the problem, a regression was introduced in v0.8. I'll release a patch soon.

[2021-03-06 19:47] essenciary opened #34 "Custom components are not loaded (st-dashboard and st-big-number)"
@hhaensel This happened in v0.8 (worked in v0.7) and I suspect it's related to the JS changes, potentially in Elements.jl
I tried to debug it but I don't understand what that code does. Can you please take a look? (Try the GermanCredits demo).

The components get loaded upon the first data sync, hence my suspicion that something doesn't get properly initialized upon page rendering anymore.

https:

[2021-03-06 20:14] essenciary commented on #33
@JulesBlubb Sorry about that - I just tagged v0.9.4 which address the problem. Please make sure you're running that version (should be registered in a few minutes). Also, beware that there's yet another regression introduced in v0.8 which is not critical and we're working on debugging it, per #34

[2021-03-06 20:49] essenciary commented on #34
@hhaensel I found a workaround - not sure what caused it but forcing a Vue update upon load completed fixes the problem.

[2021-03-07 12:43] JulesBlubb commented on #33
Thank you :)
The German Credit demo works again. My code from above works now for type=:bar but not for pie charts. Again the legend is showing up, but not the plot. Am I missing something?

[2021-03-07 14:34] essenciary commented on #33
I've reproduced your results - now it seems that a different issue is affecting only the pie charts. I'm looking into it - hopefully it's the last :)

[2021-03-08 08:46] yakir12 opened #35 "Progress button doesn't work"
In the following MWE the progress button is not showing the progress as expected:
[code]
![screenshot_2021-03-08_09:35:50](https://user-images.githubusercontent.com/3281957/110295716-b6768a80-7ff1-11eb-8598-a4058caa0a40.jpg)

I thought that `btn(..., percentage = :percentage, ...)` would have been enough, but maybe I'm wrong about the syntax?

[2021-03-08 12:04] yakir12 opened #36 "Dark mode"
I might be too greedy here, but is there an easy way to [turn dark mode on](https://quasar.dev/quasar-plugins/dark#Inside-of-a-Vue-file)? How, or where, do I specify
[code]
?

[2021-03-08 12:17] yakir12 opened #37 "Connect a function to a btn"
I'd like a Julia function to be called when the user presses a `btn`, so for each `btn` I have defined a model boolean parameter, and I use this custom `flipon` function:
[code]
to then connect a function, `f`, to that button.

For instance, to connect a `save` function to a "Save" `btn`, I have:
[code]

Is there another obvious way I missed, or should we include this somehow?

[2021-03-08 13:32] hhaensel commented on #37
That sounds like a good idea. I'd name the function `onbutton()`

[code]

Then we could either write
[code]
or
[code]
(Similar to the `route()` syntax). We might even be tempted to do
[code]

[2021-03-08 16:37] hhaensel commented on #37
I could also imagine an additional syntax to the `@click` macro:
[code]
so that you can do
[code]
@essenciary shall I commit that?

[2021-03-08 16:42] essenciary commented on #37
Yes, sounds great!

[2021-03-08 23:32] hhaensel commented on #37
Just pushed the  changes.

[2021-03-08 23:32] #37 closed

[2021-03-08 23:42] hhaensel commented on #37
I also enhanced `@click` a bit more by modifier and added some help text, maybe the first one in Stipple 🤣  Enjoy!

[2021-03-09 14:55] hhaensel commented on #33
The problem is the data type of `model.piechart`. It expects a simple vector
[code]

[2021-03-09 14:58] hhaensel commented on #33
Note the new `onbutton()` which will only work with current master. Otherwise just do
[code]
@essenciary Shall I register a new version?

[2021-03-09 15:02] essenciary commented on #33
Yes, that's one of the things, pie works with a simple vector, and this needs to be documented. But some other things are still not working and I'm not sure why. Still working on it. I've added a few pie charts features yesterday, in the latest release, but things like donut or size settings don't seem to work.

My test code is

[code]

@hhaensel Yes please, go for it!

[2021-03-09 15:20] hhaensel commented on #33
Your example works for me ...
![image](https://user-images.githubusercontent.com/31985040/110493838-4819f100-80f3-11eb-99d5-50f975b5acde.png)

[2021-03-09 15:23] hhaensel commented on #33
@essenciary
What do you think about naming the current master 0.9.x-DEV?
I started with that convention, because I think it is good to distinguish master and latest release in the `project.toml`

[2021-03-09 15:32] essenciary commented on #33
@hhaensel So keep `DEV` while we work on the version and drop it when we register/tag?

It works? And it renders a donut by default? What is the output of `pkg> st` for you please?

[2021-03-09 15:53] hhaensel commented on #33
re-evaluated with a completely empty project, Julia 1.6.0-rc1
[code]
works!

[2021-03-09 15:55] hhaensel commented on #33
Exactly, and set the next version and append DEV for the following work

There is a nice tool in VS Code that does all that automatically...

[2021-03-09 16:02] essenciary commented on #33
Any idea as what might've broken our releases/tagging? Eg Stipple, the latest release (which was done automatically bu Julia Registrator) is v0.9.3. The next version was v0.9.4-DEV and that's when releases/tags stopped working.

[2021-03-09 16:05] essenciary commented on #33
Same for StippleCharts, auto tagging / releasing stopped with v0.4.2-DEV

[2021-03-09 16:57] JulesBlubb commented on #33
Your code works for me and I receive beautiful pie charts. Thanks a lot! :)

[2021-03-09 16:57] #33 closed

[2021-03-09 19:49] hhaensel commented on #33
I've created v0.5.1-DEV and released v0.5.0 of StippleCharts. So all projects follow the new version convention.
I hope that with the next release we will have auto-tagging againg in place.

[2021-03-09 19:53] hhaensel commented on #37
New release is in place 😃.
@yakir12 I really liked your idea for `onbutton()`

Maybe we should define
[code]
?

[2021-03-09 21:15] yakir12 commented on #37
Thanks! I like everything you guys do here..!

An alias for `R{Bool}` sounds useful but it makes me wonder about the other widgets, should they too get aliases? What about the fact that a toggle also is a `R{Bool}`. `R{String}` can often be an `input` but not always... This seems like it wouldn't be very consistent. Unless someone has many buttons in their dashboard, this seems like it would only

[2021-03-09 21:16] yakir12 commented on #35
@hhaensel any idea what might be going on here?

[2021-03-09 22:35] hhaensel commented on #35
Maybe it's the Quasar version?
I tried
[code]
Note the `"dark-filler"`, because we don't have "__" replacement for symbols (yet). And I believe you have to set loading at the same time. But still didn't work for me.

[2021-03-10 09:19] yakir12 commented on #35
Works! I had to specify `color` as well:
[code]
(the "dark-filler" didn't seem to do much).

Awesome! Closing this now :smiley:

[2021-03-10 09:19] #35 closed

[2021-03-10 10:17] yakir12 opened #38 "Model design questions"
This is a placeholder for some questions about the design of a model of a dashboard.

Why does it have to be mutable? If every parameter is an Observable then there is no need to mutate the parameter (because the parameter is already a container).

How do we best specify "inner piping" of the model? While most parameters are connected directly to some UI, some are defined as a result of one or mor

[2021-03-10 13:13] yakir12 commented on #38
Thanks @essenciary, this indeed answers my questions.

As to the inner pipings: my idea was to use the [inner constructor methods](https://docs.julialang.org/en/v1.7-dev/manual/constructors/#man-inner-constructor-methods) of the model struct. But maybe there is a straightforward way to couple the inner constructor to Vue's computed properties?

One more question, I tried and failed to test and see

[2021-03-10 14:24] hhaensel commented on #38
I recently added `js_watch()` and `js_computed()` to do allow definitions of such properties and methods. It would be great, indeed, if we had types that link to these computed properties.

[2021-03-10 14:36] yakir12 commented on #38
Me every time I find a docstring in Stipple:
![image](https://user-images.githubusercontent.com/3281957/110645495-4c5b1280-81b6-11eb-9108-51243151ad1c.png)

[2021-03-10 14:38] hhaensel commented on #38
You look much younger on your avatar 🤣

[2021-03-10 14:39] yakir12 commented on #38
(I need to update that...)

[2021-03-10 15:51] essenciary commented on #38
+ shared model instance - I was actually thinking that the default setup should be individual model instance per user. The current shared model is not what most users would want/expect.
+ docstring - top priorities in my queue: API completion (eg all UI elements, all types of charts, etc), docstrings and doctests, unit tests, CI, and UI tests. That is, from my side there will be no more new packag

[2021-03-10 16:00] yakir12 commented on #38
This sounds amazing.

As a non-web-dev, any abstraction *away* from JS you can offer will be a huge gateway for new users. So things like js_computed, and js_watched, sound great, but if there's a way to hide the details in Observables etc then that would allow everyone to join this party.

[2021-03-11 15:37] #32 closed

[2021-03-11 16:48] hhaensel commented on #38
I also propose the following changes:
- `import Genie.Configuration: isprod, PROD, DEV`
- define and export @js_str macro for the construction of JSONText
@essenciary : ok?

[2021-03-11 21:29] hhaensel commented on #38
I plan to submit these changes as proposed, but I wonder whether we should import/reexport StippleUI by default. Alternatively, we could reexport Stipple, when `using StippleUI`. No one will understand, why `btn()` will define a quasar component but `span()` will produce an error. - Maybe the second option is the preferred one...

@essenciary: I saw that you reexported `Genie` and `Genie.Renderer.

[2021-03-11 22:29] hhaensel commented on #38
Could you help me understand how you define a user?

[2021-03-12 16:09] hhaensel commented on #38
I decided to commit my changes as I think they are not breaking.
@essenciary please review if you find the time so that we can release a new version. [WebCam.jl](https://github.com/GenieFramework/StippleDemos/blob/master/WebCam.jl) has beome a nice example for the new features 🚀

[2021-03-12 16:42] essenciary commented on #38
Cool stuff, thank you!

A user is a session_id - we can drop it in a cookie and/or append it to the URL (to be shared)

[2021-03-16 10:43] hhaensel commented on #36
With the latest version you can do
[code]
But I'm afraid that you will have to adapt your css a bit. My short attempt did colour the uploader component dark, but the rest of the GUI remained white.
If you find a solution to that, I'd be happy if you could share this hear. 😉

[2021-03-16 12:36] yakir12 commented on #36
Awesome, this worked as you advertised. But yea, almost everything doesn't comply so currently it's not usable.

[2021-03-17 15:48] hhaensel opened #39 "' replacement changes input of textfields during reload"
@essenciary Your latest commit for charts corrupted the reload of textfields. Any `'` characters are now replaced by `"` characters.
Could you supply a MWE so that we can search for a different solution?

[2021-03-17 21:10] JulesBlubb opened #40 "Dynamic content depending on view"
Hi,
I would like to generate the UI depending on the view. That means dynamically create _html_ elements and also make them disappear depending on the click on an item for example. How do I do that with Stipple? (I have seen an example in the demos about dynamically created buttons, but this is still a work in progress.)
Thanks :)

[2021-03-18 11:02] essenciary commented on #39
Ugh - ok, this is getting very complicated and fragile. I'm working on adding unit and UI tests and we need to build a stable code-base with these.

Until then, what path should we take? Don't think we can undo my fixes as they addressed plots rendering (in fact, any rendering of nested objects). Do you have an example for "reload of textfields"? I used the Hello example and worked fine.

[2021-03-18 17:38] hhaensel commented on #39
Yes, that's the point, and even worse the page doesn't load anymore in most cases...

[2021-03-18 17:41] hhaensel commented on #38
@essenciary
I'm planning to implement the readonly type and some more stuff, but I don't have a clue how to do the wrapping.
Somehow we would need to subtype observables. Could you give me demo to start?

[2021-03-18 19:00] essenciary commented on #38
@hhaensel that looks good - although if we go the path of wrapping an observable, I suggest we convert our `Reactive` into something like your code plus an additional `readonly` property. This way we only have one type, which can be `readonly`.

Something in the line of

[code]

This will also allow us to extend the API with additional fields in the future, if necessary.

What do you think?

[2021-03-18 19:01] essenciary commented on #39
Thanks, I'll look into it now.

[2021-03-18 20:11] essenciary commented on #39
@hhaensel How do I reproduce it please?

Seems to work fine
![image](https://user-images.githubusercontent.com/11292378/111691354-823f6d00-882e-11eb-8145-f2ed3f09ef7b.png)

[2021-03-18 20:14] essenciary commented on #39
Ah ok on full page reload, the JS breaks because the `"` are not escaped:
![image](https://user-images.githubusercontent.com/11292378/111691760-ebbf7b80-882e-11eb-8c0f-0542de41b78b.png)

[2021-03-18 20:20] hhaensel commented on #38
That's also possible, I would have proposed
[code]
But I agree the following is more intuitive
[code]
The jsfunction type is meant for coding functions that are passed via JSON and a corresponding reviver function. The problem is that we need to pass something else to WebChannel than we need for the creation of the Vue instance. So the listener needs to be adapted to broadcast something else than

[2021-03-18 20:23] hhaensel commented on #39
I think we cannot afford to replace `'` by `"`, even if they would be escaped. I also need the `'` for the js functions...

[2021-03-18 20:46] essenciary commented on #39
Yes, working to preserve the input as is.

[2021-03-19 11:01] essenciary commented on #39
OK, I nailed it. In the end, the issue was with some specific JS support in `StippleCharts`/`ApexCharts` which needed proper JS `undefined` values. Added support for these in `Genie.Renderer.Js`, refactored `StippleCharts` and reverted `Stipple.Elements` to your initial code using pure `repr` output.

Now I need to tag new versions of Genie (also merging your PR, thank you!), Stipple, and StippleC

[2021-03-19 11:49] hhaensel commented on #39
I created a new branch fir the ne Reactive type.
It works amazingly well

[2021-03-19 12:02] essenciary commented on #40
That's not an easy task even with hand coded JS. Hard to say without more details, but if you know in advance what you'll need, the easiest is to put them in the page and hide them, then control the visibility of the container. If it needs to be fully dynamic, you most likely need to have a JS function to create the elements and invoke that from Stipple. @hhaensel has more insight into this.

@hha

[2021-03-19 16:16] essenciary commented on #39
@hhaensel should now work on the latest versions - can you please check and close the issue?

[2021-03-19 22:41] hhaensel commented on #38
@essenciary
I've pushed a new branch [hh-newRevise](https://github.com/GenieFramework/Stipple.jl/tree/hh-newReactive) and a corrseponding [demo](https://github.com/GenieFramework/StippleDemos/blob/master/New%20API%20Demo%20Draft.jl).

It demonstrates the different use cases of the API. It would be great to hear what you think about that approach.
I designed the mode `:jsfunction` that can take a j

[2021-03-19 23:38] hhaensel commented on #39
Great!

[2021-03-19 23:38] #39 closed

[2021-03-20 09:34] touchft commented on #18
I use html style "<img src=“data:image/png;base64,xxxx"/>

[2021-03-20 11:28] hhaensel commented on #18
Well, then you could also use a "q-image" instead of a regular image, see the [WebCam Demo](https://github.com/GenieFramework/StippleDemos/blob/master/WebCam.jl) for setting this up.
If your question is answered with this, we could close this issue. But we could also leave it open, if you think we should support a js canvas in the future.

[2021-03-20 11:46] hhaensel commented on #40
I'm not sure what your scenario is.
I have three proposals:
1) If you know the layout and only want to change contents, then you could probably use the [`v-if` semantic of Vue](https://vuejs.org/v2/guide/conditional.html).
We have macros in place to insert these clauses: `@iif`,`@elsiif`, `@els` (except that the `@iif` is currently corrupt, but we will fix it with the next release. (You can always

[2021-03-20 11:49] hhaensel commented on #34
Good, you found the workaround, but I also have no clue, where this comes from. A bit annoying, as I also had used `window.onload` to setup custom payload parsing. I needed to start them with setTimeout...

[2021-03-20 13:43] essenciary commented on #34
We're recruiting a senior frontend dev at Stipple so hopefully we'll soon have a dedicated programmer to cover all the JS parts 🤞 Btw, if you know any good candidate, please put us in touch.

[2021-03-20 14:51] essenciary commented on #38
@hhaensel Fantastic, I'll check it out, thank you!

Quick question: I'm working on adding comments and tests to Stipple so I'm going over all the code in `Stipple.jl` at the moment. So I went on and specialized some of the `js_*` methods you added which were defined for `Any` type of arguments. Then I saw you defined more specialized versions for `ReactiveModel` which delegated to the `Any`. Any r

[2021-03-20 15:08] essenciary commented on #38
Also, another question related to the `js_*` functions - shouldn't these be model aware? I see that they take the model as argument, but it's not used. What happens if there are two Vue apps on the same page?

The `js_*` methods seem similar to `register_components` which is per model. So that if we have two models (with two Vue apps on the same page) each Vue app has its own components (basically

[2021-03-20 16:15] essenciary commented on #38
@hhaensel I'm done with the `Stipple.jl` file - I'm planning on merging after adding tests, but if you want to take a look (the only major change is that I removed the `js_*` methods defined for `Any`)

https://github.com/GenieFramework/Stipple.jl/compare/comments-and-tests?expand=1

[2021-03-20 16:26] hhaensel commented on #38
I can only have a look tonight...

[2021-03-20 22:15] hhaensel commented on #40
Short explanation on 1)
(When the fix is rolled out, better use the commented version.)
[code]

[2021-03-21 00:43] hhaensel commented on #38
I commented already in the commit, but I repeat it here. That all looks good to me, except that I have troubles with `@static` in line 533. And I submitted a fix for `@iif`. Do we need the @static? - Do you have an idea why this fails? I'm on 1.6-rc3, Windows 10, 64bit.

[2021-03-21 00:47] hhaensel commented on #38
And a big compliment for all the documentation! 🚀 🚀 🚀

[2021-03-22 06:50] hhaensel commented on #38
One more question on the macros `@iif` etc.
Why don't we call them `@if`, `@else`, `@elseif` ?

[2021-03-22 07:00] essenciary commented on #38
Thank you!
I tried to make them as `@if` `@else` but it didn't work as these are language keywords. Eg `macro if` is a syntax error. If you know any trick to make this work that'd be awesome.

[2021-03-22 11:15] hhaensel commented on #38
Hm, I think it is not possible ...
Three ways out:
1) use `@If`, `@Else`, `@Elseif`, but `Jive.jl` uses and exports `@If` already
2) use `@v_if`, `@v_else`, `@v_else_if`
3) I submitted a fix to StippleUI to support keyarg syntax: `v__if = :condition` etc.

I personally would suggest to provide solutions 2) and 3)

[2021-03-22 11:29] essenciary commented on #38
@hhaensel
I think it's confusing to use uppercase constructs.
I'm not a fan of `@v_*` as it has no real meaning. We're basically leaking the underlying Vue integration and making that a part of our API, when Stipple's job is to abstract away as much of the JS code as possible.
I think we can leave these as they are (except working :D )

[2021-03-22 11:39] hhaensel commented on #38
You could understand it as `visible-if` 😉
Or I could offer `@showif`, `@showelse`, `@showelseif` / `@show_if`, `@show_else`, `@show_else_if`

[2021-03-22 12:18] essenciary commented on #38
We also need to support `v-for` so it would be good to come up with a standardized naming scheme.

[2021-03-22 16:47] yakir12 opened #42 "Disabled toggle doesn't work"
If I set `disabled` to `true` in a `toggle` then the toggle grays out and the "disable" icon comes up when hovering over the toggle, but I can still press it and all the side-effects still get executed.
MWE:
[code]

[2021-03-23 09:32] hhaensel commented on #38
Well, that could be `@for`, couldn't it?

[2021-03-23 09:35] hhaensel commented on #38
I think vue's naming is not very good here, but we could name it `@showif`etc. and then `@for` would be very natural. We eliminate the "v-" and "q-" wherever that is possible. We still support the `v__if=:toggle` syntax for those who want to stay close with original vue syntax.

[2021-03-23 09:55] yakir12 commented on #38
Most of this is way over my head, and I should therefore stay quite, but one thing that makes sense to me at least, is what Adrian said about abstracting away from JS code. So if there was a way to decouple from the Vue *logic* as well as syntax then that would be the best way forward. It would be best if the users wouldn't need to learn the subtle differences between how observables work and how

[2021-03-23 11:55] essenciary commented on #38
@hhaensel `for` is a keyword as well. TBH (and I'm being fully subjective here) I find `iif` (an actual keyword standing for `if` in other languages) better than `showif`. The current API is just much shorter. What's the issue with `iif` `els` and `elsiif`?

@yakir12 indeed. As a matter of principle, common tasks should be _easy_ in Stipple without writing JS. Ideally this would cover some 80% of

[2021-03-25 14:27] essenciary commented on #42
Thanks @yakir12 I'll check it out!

[2021-03-25 22:34] hhaensel commented on #36
I think I found the solution for this.
Define a css-style for the dark-mode with modified color constants.
[code]
You can also change the other theme colors, of course.
Prepend or append `css()` to your dashboard and you're done 😃.
[code]

[2021-03-25 23:09] JulesBlubb commented on #40
Hi @hhaensel,
thank you very much for the example! This works perfect, except for _row_ or _cell._
I tried to hide multiple elements including charts. Therefore I need to use v-if also in row or cell. Is it possible to hide all elements in a cell? If not, how to hide an apexchart plot?
Thanks!

[2021-03-26 06:21] hhaensel commented on #40
Sure, just wrap it in a `template([ ... ], v__if = :mybutton)`.
Make sure to supply a vector of strings to template and not just a string.

[2021-03-26 10:22] hhaensel commented on #40
Just realised that the processing of `template` kwargs is different, so you need to do
[code]
@essenciary should we adapt this?

[2021-03-27 20:34] hhaensel commented on #38
Well it is just 3 letters for iff and 4 letters for els and elsiif. But it really tells what it does and it would go in the direction of not rebuilding the vue API. We could also offer `@hideif` 😉

`v-for` is indeed a difficult case, `@ffor` comes to my mind, but to me that's similar to @iif, which I personally don't like too much.

[2021-03-29 08:37] yakir12 commented on #36
Thanks for this, it worked better than before, but right now, I can find some edge-cases (things that are not specifically mentioned are missed by this; e.g. lines around things, text boxes, etc), and rather avoid fiddling too much with the colors... What with the magic of Stipple, I half hoped that there would be some complete standard default pallet we can tap into.

Again, this is more of a fea

[2021-04-02 08:10] essenciary commented on #38
* `iif` is quite a common construct in computing, it's not like I duplicated the first letter. I don't think we'll agree on this stylistic issue. If you feel strongly about it I suggest adding your preferred flavor as an alias and we'll see what the users/community prefer and settle on it down the line.
* I'm currently looking into adding `for` / `v-for` support. I'm thinking of using something li

[2021-04-03 12:29] touchft commented on #18
Great example. I feel I will get something that I want from it ! THX!

[2021-04-03 12:29] #18 closed

[2021-04-06 19:32] amckay1 commented on #3
To chime in, I just got this same issue "MethodError: no method matching Base.TOMLCache()" on Julia v1.6 and Stipple v0.9.9 and master that seems to be preventing precompilation. Running on ubuntu for what it's worth.

[2021-04-06 19:39] amckay1 opened #44 "Julia v1.6 not precompiling Stipple, throws error of "no method matching Base.TOMLCache()""
There is a closed issue with what seems to be this same issue (https://github.com/GenieFramework/Stipple.jl/issues/3) but thought a new issue might be more helpful since the bug is still alive it seems. Running Julia v1.6 and doing a simple `]add Stipple` or specifying `#master` or `v0.9.8` results in Stipple being unable to pass precompilation after `using Stipple` on my ubuntu machine.

[2021-04-06 19:43] essenciary commented on #44
Thanks - not something Stipple specific. Seems to come from Revise within Genie: https://github.com/timholy/Revise.jl/issues/569
What do you get for
[code]

[2021-04-06 19:50] amckay1 commented on #44
Thanks, that's interesting, `]st Revise` results in "No Matches". Out of curiosity, I added Revise (defaulted to v3.1.3 as noted in the link you provided) and rm/added Stipple, but got caught on the same error.

Going to try and get Revise to v3.1.7 and try again but currently caught on some "Unsatisfiable requirements detected for package CUDA" shenanigans I'm going to have to sort out first I th

[2021-04-06 19:54] amckay1 commented on #44
Okay, so Transformers.jl seemed to be holding back CUDA for Revise and once I installed Revise v3.1.7 then Stipple v0.9.9 precompiled just fine. Thanks for your help! You were definitely right about the Revise issue, hopefully that isn't too hard to untangle.

[2021-04-07 05:55] essenciary commented on #44
Are you using all these packages in the same project? Maybe you can do `pkg> up Revise`?

[2021-04-07 06:56] hhaensel commented on #36
Let's keep this open until we have a good dark-mode color-palette.

Furthermore, I struggled to define a dark color for the background outside the vue-app. We would need to change the background-color with a listener...

[2021-04-07 07:11] essenciary commented on #36
This should be implemented around Stipple's themes architecture as implemented here: https://github.com/GenieFramework/Stipple.jl/blob/master/files/css/stipplecore.min.css

The theme is passed here: https://github.com/GenieFramework/Stipple.jl/blob/8b6c9e613ea600dba163192d4f050e714163649f/src/Stipple.jl#L410

[2021-04-07 12:03] NicholasWMRitchie opened #45 "Multi-user, multi-page Stipple site"
I suspect that I just don't understand what I'm doing.  However, it almost works... 😃
[code]
1. The first time I open "/" it works!!
2. When I open "/Page2" in another browser tab it works!!
3. But, "/" stops being interactive.  (This also happens if I open "/Page2" first and then "/", "/Page2" becomes unresponsive.)
4. If I open "/Page2" a different browser, the session id is different but they e

[2021-04-11 21:25] PhilipVinc opened #47 "[Question] Accessing Model sub-structures"
Hello!
Let me begin by thanking you for the amazing framework, I started playing with Stipple two days ago and I find it rather pleasant to use (except for the lack of docstrings, but well, that's life).

I am trying to develop a fairly complex dashboard to monitor my simulations, and would like to split my model, which otherwise will have more than 100 fields, into several sub-structures for code

[2021-04-12 00:07] hhaensel commented on #47
Couldn't you use arrays and bind array elements to the ui elements?

Vuejs accepts `v-model = 'group1[0]'`, which can be produced by `@bind("group[1]")`.

There are currently two caveats:
- The array needs to be untyped, e.g. `group1::R{Vector{Any}} =  Any[true, false, false]`
- the arrays in the frontend are 0-based, whereas the julia arrays are 1-based.
- if you want to modify the array elements

[2021-04-12 07:35] yakir12 commented on #47
Looks amazing @hhaensel !

Isn't this a known "limitation" of Observables.jl? See [here](https://github.com/JuliaGizmos/Observables.jl/issues/67). The solution is just to have a `notify(obs_of_array)` after updating an element. What I mean is, this isn't a shortcoming of Stipple, more of how things work with Observables.

[2021-04-12 07:43] PhilipVinc commented on #47
Thanks for your response!

Indeed, this seems like a possible way to go, but I'm not satisfied 100% with the answer because that is just a workaround, it's not a solution.
If my "groups" have non-homogeneous types (in my actual use-case, a group would be a bunch of dropdown and checkboxes to customise some plots) then I'm just shoving inside an untyped array a lot of different things, and it might

[2021-04-12 07:50] yakir12 commented on #47
Maybe *the* solution would allow users to define their own widgets. So say I have a struct to control a thing:
[code]
and you'd like to define a new widgets that is a combination of Quasar widgets (e.g. a slider, a checkbox, and input) in some specific layout (e.g. vertical?). Then it would be cool if there was a way for the user to define the connection that updates an instance of `Thing`.

I thi

[2021-04-12 08:04] PhilipVinc commented on #47
Yes indeed, that would be very nice to have...

[2021-04-12 08:23] essenciary commented on #47
That can be done and it's actually how Stipple works internally. If you think about Stipple's types, eg `PlotSeries`, `RangeData`, etc there's not difference between these and `Thing`. The core functionality of Stipple base is to serialize a Julia data structure (object) to a JS data structure and push it down the wire (WS, HTTP). And in reverse, receive a data payload from JavaScript, un-serializ

[2021-04-12 08:37] essenciary commented on #47
Other thoughts:
1 - probably going as far as having custom types is too much. A `Reactive{Dict}` should probably work as well.
2 - use `@bind` to target nested properties in the data structure (dict)
3 - it's a great point, thanks for bringing it up. As Stipple is very new we're now observing how design patterns emerge and what kind of problems we need to solve. Large UIs are definitely an importa

[2021-04-12 08:52] PhilipVinc commented on #47
1 - Maybe so, but I find that in many cases multiple dispatch helps reduce the amount of code and makes reasoning around it simpler... But maybe not in this case.

2 - How does bind work in this case? `@bind(parent.field)` ?

3 - will do. I'm simply building a front-end for sacred, a bit like [Omniboard](https://github.com/vivekratnavel/omniboard), though only for my simulations and not for arbitr

[2021-04-12 09:32] essenciary commented on #47
1 - yes, I also believe that types are more expressive, vs dicts (eg a `Car` struct vs a dict with values). But is this really the case that you can define structs that map business objects? A group a fields really looks like a dict :) Up to you though.

2 - I haven't actually tried it but it _should_ work with `@bind(R"parent.field")` as you basically need to point to the reference on the JS side

[2021-04-12 09:37] yakir12 commented on #47
btw, if Stipple would use `NamedTuple`s instead of `Dict{String, Any}`s then I think you'd get interoperability with structs for free.

[2021-04-12 09:59] essenciary commented on #47
@yakir12 what part of the stack do you have in mind? Do you have an example?

[2021-04-12 11:01] yakir12 commented on #47
I admit I thought this was more prevalent, but one example is `btn__toggle` where the buttons is a vector of dicts, and a pressed button is of course a dict. I think this came to my attention else where, but I can't find it right now. I can also admit that I might be too trigger happy to replace a dict where a namedtuple would do.

[2021-04-12 11:53] hhaensel commented on #47
There is one major difficulty in using NamedTuples, although I really like the approach; the set of allowed characters is smaller. In particular, you cannot easily code dicts that contain `{:width: 30}`. Currently this is handled by a `Dict(R":width" => 30)`.
If we wanted to support the same content by NamedTuples we would need translators on both sides.

I have currently introduced a translator (

[2021-04-12 12:00] hhaensel commented on #47
Well, it is a similar thing to what you refer to, but on the front-end side. To address the problem on the Stipple side I already [proposed to use `setindex!` for reactive types and rename the current `setindex!()`](https://github.com/GenieFramework/Stipple.jl/pull/43#issuecomment-810318917) to something like `set withoutwatcher!()` that would nicely match with the watcher mixin that does the same

[2021-04-12 12:16] essenciary commented on #47
I don't fully understand the impact of the proposed changes at https://github.com/GenieFramework/Stipple.jl/pull/43#issuecomment-810318917 - for start, what is "the current `setindex!`"? The only reference to `setindex!` I found in the codebase specializes the one in `Observables` and has a different signature:

![image](https://user-images.githubusercontent.com/11292378/114392826-98281f80-9b99-11

[2021-04-12 12:19] essenciary commented on #47
I did not submit a Stipple talk proposal for this year as I didn't feel that it would've brought enough benefits/novelty compared to the 2020 Stipple talk. But one about v1 in 2021, with a stable API, docs, mature ecosystem, UI builder, etc would be a killer! :D

[2021-04-12 12:29] PhilipVinc commented on #47
I don't know enough of Stipple's internal to talk about it, so if what I say below makes no sense please ignore it, but I guess that you are referring to the fact that you modify those objects differently, right?

However, Why can't you support NamedTuples and Dicts? For example, if you define
[code]

and similar `stipple_setproperty`, specialising it for dictionaries, and use those methods intern

[2021-04-12 12:57] essenciary commented on #47
For me it's still not clear what Dicts are we talking about. Is this about `Stipple.render`?

I believe it's useful to brainstorm features and improvements as they pop-up in different contexts, but to address them properly we should set separate issues for each individual topic with a well defined problem and a minimal working example.

[2021-04-12 14:23] hhaensel commented on #47
That's the one, I'm talking of.

If I understand it correctly, the aim of this definition is to update the content of the observable while suppressing the listeners that are listed in `keys ...`. I found only one usage of this routine in `update!()`. My proposal is to rename that function to `setindex_withoutwatchers!` or something similar and to change the function call in `update!()`.

We could

[2021-04-12 14:50] essenciary commented on #47
Hmmm... however, the important part here is that this overwrites/specializes the original `Observables.setindex!` method (Stipple basically hijacks the default behavior of Observables). And if I remember correctly this was necessary in order to avoid that the data gets synced. So you'd have to skip handler 1 in the implementation that you propose.

[2021-04-12 16:15] essenciary commented on #47
ok I remembered. When a value is pushed from the front we need to update it in our model and we need to trigger all its user defined observers/handlers with the exception of the Stipple data sync handler (to avoid that the value pushed from the front is pushed to the front again).

[2021-04-12 19:45] hhaensel commented on #47
That's how I understood it and that's what I implemented with withoutwatchers mixing. I think, if we split the set index! for zero keys and with keys (arg1, args...) we should get along. I'll give it a try then

[2021-04-13 08:42] hhaensel commented on #47
It's done and, as far as I can see, works like a charm. See also my post in [PR 43](https://github.com/GenieFramework/Stipple.jl/pull/43). So now we have

[code]

[2021-04-13 08:44] essenciary commented on #47
@hhaensel You rock! I'll switch to the branch and run our demos. Hopefully we'll have CI and automated UI tests in a few weeks time too :D

[2021-04-13 09:23] hhaensel commented on #47
It's never too late for a post-deadline talk 😉

BTW, just added the constructor `Reactive(v::T, args...) where T = convert(Reactive{T}, (v, args...))`

[2021-04-14 13:17] hhaensel opened #48 "New vue and quasar versions?"
@essenciary can we easily upgrade to a new quasar version by exchanging the js and css files?
Currently, we ship 1.11 while 1.15 is in place. The latter supports more symbols which I wanted to use for a private project.

Vue is only one version number behind, but we could replace it at the same occasion.

[2021-04-14 13:56] essenciary commented on #48
Yes, have this on my list as well :)
Upgrading to non-breaking version is fine.
Planning to also upgrade to next major versions of Quasar and Vue (recently released) but that takes a bit of work - the idea is to do it after we have the tests for Stipple and have it for the v1 release.

[2021-04-14 15:31] hhaensel commented on #48
How are the tests evolving? Can't wait to see the new API released.
BTW, I added an enhancement for slider by adding a lazy keyword

[2021-04-14 17:05] essenciary commented on #48
The manual testing? Didn't get to that yet :-/

If it looks good to you, feel free to merge into master. Just maybe better not to tag a new version until I also test?

[2021-04-14 21:15] hhaensel commented on #48
I don't think that it makes sense to merge before thorough testing. In case something goes wrong we don't have a branch to test against. Furthermore we should tag a new version for StippleUI together with the new Version of Stipple.

Could you give me a rough estimate, when you will be able to test?

[2021-04-15 05:39] essenciary commented on #48
Ok - I will do it today.

[2021-04-19 20:48] essenciary commented on #48
Updated JS files to latest non-breaking versions

[2021-04-19 20:48] #48 closed

[2021-04-19 21:05] essenciary commented on #45
It would be really helpful to break this long example with so many issues into single issue minimal examples. As is, it's too complex to debug.

One thing I notice is, where have you defined `build_model`, used in `Genie.Sessions.set!(sess, sym, build_model())`

[2021-04-20 03:41] hhaensel commented on #42
The reason is that Quasar expects a keyword `disable` and not `disabled`. Quite confusing that the mouse-pointer changes to disabled-mode nevertheless. But that's the underlying property that is changed by the disable-keyword.
@essenciary we should consider printing a warning when a user uses `disabled`.

[2021-04-20 03:46] hhaensel commented on #40
@JulesBlubb Can we close this?

[2021-04-20 05:01] hhaensel commented on #45
You have to set different channels for the different pages. That means modifying both the model's init routine and the user interface.
[code]
and
[code]
and in analogous way for page 2 (well, it is better style, but it would work, as page 1 doesn't conflict anymore)

[2021-04-20 05:24] essenciary commented on #42
@hhaensel

1. `disabled` is a valid HTML attribute and can be used.
2. we would have to check `disabled` in the context of `toggle` only - I'm wary of too many checks and conditions that will slow the library down and add extra code to maintain.
3. plus what if the user really wants `disabled`? Warnings are expensive, we'd have to show it only once, keep track of state, etc.

I suggest once we hav

[2021-04-20 05:44] hhaensel commented on #42
The disable keyword is available for most of Vue's input components, e.g. button, textfield, slider, ...

[2021-04-20 06:18] essenciary commented on #42
Still, I'm not comfortable with polluting our codebase with this level of hand-holding. And the same goes for Quasar, as far as I can tell. I favor a documentation approach.

[2021-04-20 06:34] hhaensel commented on #42
I'm also ok with the documentation approach. So let's close the issue?

[2021-04-20 07:08] essenciary commented on #42
Awesome - closed! 🔥

[2021-04-20 07:08] #42 closed

[2021-04-20 13:58] hhaensel commented on #45
@NicholasWMRitchie please close the issue if that works for you. We are trying to do some issue cleaning before the 1.0 release... 😄

[2021-04-20 14:01] hhaensel commented on #38
Shall we close this topic and open a new one for the remaining things?
Part of this could also go into the Project...

[2021-04-22 18:40] NicholasWMRitchie commented on #45
Thanks for your response.  I was unaware of channels.  I'm going to give this a try right now and close it ASAP.

[2021-04-22 19:16] NicholasWMRitchie commented on #45
Adding "channel" in these two places does seem to separate the two pages and allow them to both operate simultaneously.  I'm still a little surprised that when I open the same URL in two different browsers, both browsers see the same page and update when the other is modified.

[2021-04-22 19:16] #45 closed

[2021-04-22 19:35] hhaensel commented on #45
@essenciary is working on a good demo how to realise window-dependent sessions. (You will have to use cookies or other kinds of user identification to achieve what you want.)

[2021-04-23 00:29] jonniedie commented on #5
I'd like to chime in here to request docs as well. A coworker of mine is making a dashboard for one of our simulations and I recommended checking out Stipple. He wasn't able to figure out how to use it without docs, so he ended up using Dash instead, which has proven to be really hard to work with (everything is done with callbacks using strings to call to internal variables). Stipple, on the othe

[2021-04-23 07:25] essenciary commented on #45
@NicholasWMRitchie agreed, that synced-state default behavior is surprising and not what most people want. We're working on an updated programming model where multi-user/independent states are the default.

[2021-04-23 07:28] essenciary commented on #5
Made some good progress with documenting the code in Stipple.jl (so we can now use Julia's REPL help mode) but there's still more to do indeed. Working on it.

@jonniedie can you provide some insight into what kind of docs would be best? API docs? Recipes to connect pieces? Guides to building full apps? What are the issues (developing, deploying)? What is a good documentation in your/your friend's

[2021-04-23 14:17] jonniedie commented on #5
What I like about the Dash docs is how it provides a walk-through tutorial that assumes no knowledge of web development. This is important because people who want to make dashboards are typically scientists/engineers/data scientists who just want to show their data in an interesting way and are using a dashboard framework because they can't afford to take the time to learn web development.

So in

[2021-04-23 15:34] hhaensel opened #49 "New Reactive API"
@essenciary
Currently rethinking the `setindex_withoutwatchers!()`
What would you think about either of these two definitions? And what keyword would you prefer?

[code]
or
[code]
or should we keep the two separated?

[2021-04-23 16:17] hhaensel commented on #49
Just had one more idea; why not exposing non-notifying assignment by
[code]
which would allow for
[code]

I had the problem that a colleague of mine used `.val` very often. Due to the API change we had to modify this to `.o.val`.
If we would define `setindex!()` as above, we would be safe for future changes. Currently, I have covered that by `setindex_withoutwatchers!()`. But it is less intuitive.

[2021-04-23 16:31] hhaensel commented on #5
Just want to advertise that we are giving an[ online presentation on Stipple 3rd May](https://www.meetup.com/de-DE/Julia-User-Group-Munich/events/277664916/). We will showcase the new model API that is already available in the current master, explain the StippleUI API and end with some demos.
Be sure not to miss it if you are longing for docs 😉

[2021-04-26 16:55] Boxylmer commented on #5
Just want to give my +1 for docs as far as incoming users go. Our lab needs a quick and dirty front end for interfacing with some complex chemical models plus potentially something to visualize live data streams remotely (but still in a private network), and Stipple seems perfect for both!

Definitely also had struggles with the demos but couldn't quite sort out what was due to being new to Julia

[2021-04-26 17:47] essenciary opened #50 "Make the server side code work without connected clients (initialize channels)"
To avoid the channel not exists exception

[2021-04-26 17:47] essenciary opened #51 "Multi user apps by default"

[2021-04-26 17:48] essenciary opened #52 "Review the data sync workflow (client and server) to handle sync issues"
Catch socket disconnected exceptions in JS and attempt to reconnect (or suggest full page reload if not possible).

[2021-04-27 08:02] essenciary opened #53 "Set up workflows"
TagBot, CompatHelper, CI, etc

[2021-04-30 09:33] zsz00 commented on #5
Stipple.jl  is same to streamlit,
the documents can reference to https://docs.streamlit.io/en/stable/

[2021-05-06 10:29] #40 closed

[2021-05-07 13:12] touchft opened #54 "how can I get something like '<div :class="hidden"></div>' ?"
How do I code from `Stipple.Html.div()` to get something like `<div :class="hidden"></div>` ?

Thanks

[2021-05-07 16:27] hhaensel commented on #54
[code]

[2021-05-07 16:49] hhaensel commented on #54
If we would define our
[code]
Then we could also do
[code]
I think, I will do that change ... @essenciary what do you think?

[2021-05-07 17:20] hhaensel commented on #54
and for the easeof use
[code]
we could even export `xelem()` and `xelem_pure()`

[2021-05-11 13:19] essenciary commented on #54
@hhaensel Thank you

How would it work in practice? Would the users have to define their own specialized versions of `div` `span` `p` etc to support this?

Tbh I prefer the simpler version that already works (passing the string argument). And I'm not a fan of swapping the `:` from the value to the key (eg `foo = :bar` resulting in `:foo = bar`) - I can see the appeal but to me it's confusing, feel

[2021-05-12 06:33] essenciary commented on #54
@hhaensel
1. this has been the convention in Stipple from the beginning and yes, it is intentional. In Stipple the convention is that a symbol value is a reference to the name of a field from the ReactiveModel. With this convention, Stipple generates Vue specific HTML attributes code.
2. this does not work in Genie which a) predates Stipple; b) does not generate Vue specific code.
3. there should

[2021-05-12 10:52] essenciary commented on #54
Actually on more thought, `GenieVue.jl` might be the best approach. It can be a separate plugin that extends the Genie API with Vue support - and can be used by Genie users to build Vue apps without Stipple. And Stipple would use it as a dependency.
Thoughts?

This also sets up the foundation for other `GenieReact.jl` `GenieAngular.jl` and others.

Thoughts?

[2021-06-07 11:49] KronosTheLate opened #55 ""Pure julia""
Hi

I just came here to check out the package, and this is one of the first thing I can see:
![image](https://user-images.githubusercontent.com/61620837/121011562-0999de00-c797-11eb-950b-b91d25c83586.png)

Writing "pure julia", while github reports 87% javascript, seems a little weird to me...

[2021-06-07 12:53] essenciary commented on #55
The apps are developed in pure Julia. Stipple eliminates the need to write the front-end code, automatically generating the JavaScript, CSS and HTML code. In order to generate all this rich web frontend it uses JavaScript (among other things). What's the weird part?

[2021-06-07 13:07] KronosTheLate commented on #55
I'll try and highlight what I found weird a little more:
![image](https://user-images.githubusercontent.com/61620837/121021576-d14bcd00-c7a1-11eb-9c78-29aab7b9e95d.png)
![image](https://user-images.githubusercontent.com/61620837/121021596-d6108100-c7a1-11eb-993b-6593311a0a4c.png)

Now I have NO idea how the numbers are estimated by github, or how stipple does things internally. My point is just th

[2021-06-07 14:28] KronosTheLate commented on #55
Now that is a little more tricky, which I get is your point. I agree that it is really nitpicky and really unimportant. My reaction when I read it was something along the lines of "oh, they write 'pure Julia' because it sounds good. And then GitHub, which does not lie, disproves it right after". Now, I trust the creators to really have meant something by "pure julia", and that it is probably true

[2021-06-07 15:00] essenciary commented on #55
Thanks - yes, GitHub accepts a configuration which allows a repo to declare/overwrite the language stats.

[2021-06-07 16:31] KronosTheLate commented on #55
That sounds perfect! Given, of course, that the library is in fact pure julia, whatever that means ^_^

[2021-06-07 20:32] hhaensel commented on #55
If I may give my two cents to it...

"Pure Julia" in the Julia community is typically used to describe that no external binary packages are used. A famous packages that is not pure Julia is [FFMPEG.jl](https://github.com/JuliaIO/FFMPEG.jl), which is mainly a wrapper for ffmpeg. This is completely reasonable, as ffmpeg is a specialised and strongly optimised library. Nevertheless github stats tell

[2021-06-09 07:12] yakir12 opened #56 "Reactive not behaving like an Observable"
I'm trying to connect a model parameter (which is therefore of type `Reactive`) through a function with a bunch of observables, like this:
[code]
and I'm getting these errors:
[code]
Is this a known issue due to how `Reactive` is implemented, or am I doing something wrong here?

## MWE
Temp env with just Stipple and Observables
[code]

[2021-06-09 15:58] essenciary commented on #55
It's really an issue of input and output. The key here is that the input is Julia (it's what the users code in) and the output is whatever it needs to be. In our case JS/CSS/HTML but in the future, if we start building Android or iOS apps it can be Java bytecode or iOS binaries. In order to generate the current JS/CSS/HTML certain files are included in the repo and GitHub indexes and tags them. I

[2021-06-09 15:58] #55 closed

[2021-06-14 07:05] hhaensel commented on #56
The quick solution to this is to use `map!(any, Observable(r), o1, o2, o3)`, the longer is to wait for a patch 😉

[2021-06-14 07:10] yakir12 commented on #56
Of course.. Thanks!

(Feel free to close this when the patch comes out)

[2021-06-14 13:40] hhaensel commented on #56
It's actually an issue of `Observables.jl`. If submitted a PR there.

[2021-06-14 14:00] hhaensel commented on #56
You could also do
[code]
which might be a workaround from Stipple side.
@essenciary what do you think?

[2021-06-15 09:05] yakir12 opened #57 "Shouldn't we also have js_data?"
Sometimes there are variables that are only relevant to the client, not the server, like the content of an error message from a local -- client-side -- validation. It would be cool to be able to define those and have the JS functions (e.g. defined in js_methods) handle those.

I might be thinking about this the wrong way...

[2021-06-15 10:28] yakir12 commented on #57
As an example to where this would be handy is registration forms: the server doesn't need to know what content (almost) any of the fields have *while the user is typing them*. All the validations should only occur on the client-side, as should all the error messages etc. It is only when the form is filled and has cleared all the client side validations that the client can send the data (via the fo

[2021-06-15 12:05] hhaensel commented on #57
Interesting point. It is certainly possible to append `js_data()` to the data upon load/reload and it would make the model a bit smaller. We could even think of a translator that would transform a dict or struct in a js_data object. Well, it's mainly `json()` ...

[2021-06-16 07:18] hhaensel commented on #57
I digged a bit deeper. It's actually quite difficult to include raw js, but it would be easy to include something like
[code]
Would that match your needs?

@essenciary I'd propose the following changes and definitions
[code]
with

[code]
This would allow for
[code]

[2021-06-16 08:43] yakir12 commented on #57
I mean, if this would allow for us to define methods etc that act on that data, then that would be useful.

[2021-06-16 19:08] hhaensel commented on #57
Below is an example that matches the [form validation demo](https://quasar.dev/vue-components/form#example--basic) on the quasar site. Note that there is currently a bug in `Genie.Renderer.Html` which requires extra quotes for data binding.
[code]

[2021-06-16 19:48] yakir12 commented on #57
Very very exciting @hhaensel ! I tried testing it but got some errors
[code]
So I looked at all the branches of Stipple and StippleUI in both GenieFramework and yours but couldn't find anything recent. Did you not branch and push anything yet, or am I being thick..?

Again, thank you for this!

[2021-06-16 20:43] hhaensel commented on #57
Still need to push, I'm having Internet problems ...

[2021-06-16 20:58] hhaensel commented on #56
I implemented the change together with another fix for `map!()` and released a new version.

[2021-06-16 20:58] JuliaTagBot opened #58 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-06-16 20:58] #58 closed

[2021-06-16 21:00] hhaensel commented on #56
I leave this open until we know, how the maintainers of Observables will deal with the PR.

[2021-06-16 21:28] yakir12 commented on #57
Don't mean to bother, but using your example form above resulted in an empty page, and when inspecting the webpage in the browser's console I get:
[code]
By the way, to get it to work, I had to modify your example, changing:
[code]
to:
[code]

[2021-06-16 21:59] hhaensel commented on #57
I think you have to remove the extra quotes for `rules` in the input fields. Could you tell me what your REPL answers to
[code]

[2021-06-17 02:26] rben01 commented on #44
I had the same issue, which I fixed by removing `DebugAdapter` (used by the Julia for VSCode project) from my environment. The issue was caused by `DebugAdapter` pinning a version of `JuliaInterpreter` that was itself pinning an old version of `Revise`. Only once `DebugAdapter` was removed could I update `Revise` to a version that fixed this (3.1.16).

[2021-06-17 05:10] yakir12 commented on #57
Sure:
[code]

[2021-06-17 05:45] yakir12 commented on #57
It worked! I'll add an example to the demorepo. This is awesome!

[2021-06-17 06:52] yakir12 commented on #57
Again, just to clarify, I'm on:
[code]

[2021-06-17 07:09] hhaensel commented on #57
Could you please enter the following at the REPL?
[code]
I receive
[code]

[2021-06-17 07:15] yakir12 commented on #57
Me too:
[code]

[2021-06-17 07:31] hhaensel commented on #57
What about
[code]

[2021-06-17 07:33] yakir12 commented on #57
[code]

[2021-06-17 09:04] hhaensel commented on #57
Found it! It's a change in `xelem()` that is only on master.
I'll correct this before we release the next version.

[2021-06-17 19:25] hhaensel commented on #57
I have also pushed and tagged a new release of StippleUI. With the latest version you can:
[code]
@yakir12 feel free to close this issue, if you think it's solved 😃

[2021-06-17 20:40] yakir12 commented on #57
I couldn't agree more! Amazing.

[2021-06-17 20:40] #57 closed

[2021-06-30 15:37] LMW38 commented on #52
Maybe this is of any help.

With our App we lost connection at times and we did not understand the root cause. I think our App is a normal use case for Julia: computation intensive simulations so the server has to wait until these finish.

Observations:
- With localhost server on Windows, I noticed the connection was not (actually never) lost when I print to REPL in the computation loop.
- When I

[2021-06-30 23:07] hhaensel opened #59 "Migrate from JSON.jl to JSON3.jl"
@essenciary After you have nicely moved all JSON code in Genie to JSON3, we could think about doing the same for Stipple.
Here are my 2 cents to it; define a JSONText equivalent in JSON3.
[code]
All `JSON.lower` definitions would then need to be replaced by `JSON3.rawbytes()` plus the StructType definition, if I got it right.

[2021-07-01 07:53] essenciary commented on #59
💯

[2021-07-05 07:35] hhaensel commented on #59
I opened an issue in JSON3 https://github.com/quinnj/JSON3.jl/issues/168

I digged a bit deeper and think there are better options for lowering for most cases, namely [`StructTypes.lower()`](url)

[2021-07-10 14:25] zsz00 commented on #5
Is there any progress on the document writing?

[2021-08-02 17:07] TobiasSkovgaardJepsen commented on #5
@jonniedie Your comment accurately describes my experience. I am a computer science researcher with limited experience with developing web applications from several years ago. My experience with anything resembling reactive web applications is even more limited.

In addition to @jonniedie's comments, I will add that the distinction between Stipple.jl and "regular" Genie.jl is unclear when looking

[2021-08-09 16:16] rapus95 opened #60 "Visual Builder"
I somehow can't manage to find the visual builder, can you point me to it? Because I especially liked that the visual builder seems to be integrated into the dashboard itself which is very nice! Because that allows for on the fly editing of it while editing underlying code in another tab. And given that I can't imagine me being the only one having problems finding it, please add the url to the web

[2021-08-12 10:18] rapus95 commented on #60
Hmm then it IMO would be good to have an asterisk on the visual builder section of the website which somewhere at the bottom clarifies that it is to be released for beta testers in Q3 or Q4. Because if not doing that it kinda feels like scam since it intentionally claims something to exists which doesn't exist yet. But that's just my 2 cents 🙈 At least I found it very misleading and finding out th

[2021-08-12 10:25] essenciary commented on #60
Sure, more clarity never hurts. Though for the feeling like a scam, where do you see the scam?

[2021-08-12 12:20] rapus95 commented on #60
Well, I guess you mean because you're not selling anything, which indeed is a good point. But I assume my “scammed” feeling came from investing time to dive into a great product only to find out that the primary “selling point” (at least for me) doesn't exist yet 🙈. Reminds me a bit of election promises 👀
And to be honest, I guess the visual builder IS a primary “selling point” here, given that's

[2021-09-25 08:32] Xinyu-Wu-0000 commented on #5
Really hoping there can be a detailed documentation.

[2021-09-25 11:28] marcello-pietrobon opened #61 "Stipple v0.12.0 not precompiling"
Hello,
afair  [Stipple-Demo-GermanCredits](https://github.com/GenieFramework/Stipple-Demo-GermanCredits)  was working a month ago when I quickly tested it.

Using the simple code
[code]

I follow the instructions
`] activate .`
`] instantiate`

I have to explicitly
`] add Stipple`

Now, just on the line `using Stipple`  I get the error:

[code]

status is
[code]

How should I go about in order to

[2021-09-25 12:00] hhaensel commented on #61
First of all: Stipple is being actively maintained and should work.
However, The Stipple version you have installed are outdated. Maybe the `Project.toml`of that demo page is outdated and we haven't checked for compatibility.

In order to get Stipple running, please update your packages to the latest versions with
[code]

[2021-09-25 12:12] marcello-pietrobon commented on #61
Thank you for answering me so soon.

`] up Stipple`

[code]

and same with StippleUI and Genie,

`] st`

status remains unchanged.

[2021-09-25 12:27] hhaensel commented on #61
Then, please activate your standard config with
[code]
and retry updating. If this doesn't help, remove all packages (Genie, Stipple, StippleUI) and readd.

[2021-09-25 12:40] essenciary commented on #61
Hey guys! I've recently worked on these to update everything and clean them up (including breaking changes in DataFrames). I haven't had the chance to push the updates yet, but if you give me 1 day or so, I'll update the demos.

[2021-09-25 13:37] marcello-pietrobon commented on #61
Obviously :) I'm quite new to Julia... so I did
`activate`
and was able to update the packages globally (afaiu) to the latest version
then I did
`activate .`
and removed the packages added and they are still at version 0.12
Maybe there's a way to workaround what's defined in the manifest.toml file, but at this point
I'll be glad to wait 1 day or so.

Maybe an additional question, is there a way to

[2021-10-04 09:49] jankap opened #63 "LoadError: UndefVarError: @click not defined in button click demo"
Trying to run the click button example from README.
[code]

Error message is
[code]

I'm running the file in REPL via VScode.

Julia version:
[code]

Environment info:
[code]

I'm on Windows 10.

Anything I can do?

Thanks :)

[2021-10-04 13:39] essenciary commented on #63
@jankap That seems to be defined in StippleUI - so please add the StippleUI package and declare that you'll be `using` it. We'll make it easier soon with a meta-package to bring all the goodies in one go.

[2021-10-04 13:39] essenciary commented on #63
Which of the demos was this please?

[2021-10-10 22:00] hhaensel commented on #56
@timholy explained in the [issue above](https://github.com/JuliaGizmos/Observables.jl/pull/73) why our PR was not a good solution.
So we stick with our workaround, which seems to be the correct implementation.
(I had actually forgotten that i fixed this and just reinvented the workaround a second time ...)

[2021-10-10 22:00] #56 closed

[2021-10-12 07:59] AbhimanyuAryan commented on #63
@jankap
[code]
it's fixed now should work. Just clone the new examples: https://github.com/GenieFramework/StippleDemos/blob/master/BasicExamples/ReverseText.jl

[2021-11-01 17:11] albertpod opened #66 "How to display image from local directory?"
Hi, guys!

I've just started to play around with `Stipple.jl`. It looks great! Thanks a lot for your work!

As a beginner, I am having trouble with some basic stuff, namely rendering local images (even after specifying the full path to the image), i.e.

[code]
I am getting this:
![Screenshot 2021-11-01 at 18 10 55](https://user-images.githubusercontent.com/8931177/139711683-1dc8abbe-2699-4618-9ef9

[2021-11-01 18:58] hhaensel commented on #66
The image path is given with respect to the `[current working dir]/pub`.
So best create a directory pub in your cwd, create another directory img and place your file there. Then enter `/img/image.jpg` as your url

[2021-11-01 19:31] hhaensel commented on #66
Why is this? A web server should never expose the true location of files. If that would work, without further work, any user could read your hard disk. So be happy, it doesn't 😉

[2021-11-01 22:22] albertpod commented on #66
Thanks for the edit ;)

[2021-11-01 22:22] #66 closed

[2021-11-03 22:53] hhaensel opened #67 "New API for Stipple / StippleUI"
Here, I want to create a place to exchange about a possible future API.

We have seen in the past that people are confused about how a certain vue-output can be achieved by Stipple syntax. I think there are multipe reasons for it.
- syntax varies between different elements
- in js syntax, parameters come first, content is placed between the opening and closing brackets; in Julia, however, in most

[2021-11-04 07:19] hhaensel commented on #67
I feel that breaking Stipple syntax would be ok, as it is still in beta, and we'd rather want to have a clean API for version 1.0 ...?
The only thing we should do during current development of applications is to always wrap inner content in arrays.

[2021-11-04 08:04] essenciary commented on #67
@hhaensel Thank you!

Yes, breaking Stipple would not be an issue. Not even breaking Genie, as we can release a new major version. But I need more info to understand what would this actually achieve please.

Questions/Comments:
1/
[code]
This is not really code. In 99% of the cases, the code we need to produce looks like `<div mee="too">Hello world</div>`. How is this achieved with Symbols?

2/ Ho

[2021-11-04 16:30] hhaensel commented on #67
I had not realised that the new syntax was already implented, as I was still on version 3 with my project.
Currently, the first positional argument always goes between the brackets. The only way of supplying non-keyword parameters before the content is to supply an empty string at the beginning.
[code]
But this is probably ok as there are only rare cases of non-keyword arguments and that way it wo

[2021-11-05 07:09] essenciary commented on #67
I think the current API covers all our use cases - we can pass strings, arrays, functions etc as content. Though the first non-keyword parameter is still considered the content.

[code]

However, I think it's a fair request/expectation to ask for content to be provided as the first non-positional argument for HTML container elements, and there's a couple of ways of doing it:
[code]

The content is

[2021-11-05 12:13] hhaensel commented on #67
As said above, I'm fine for normal html elements. I had the following example in mind:
[code]
which doesn't work as one might expect. You rather have to do
[code]
Or you have to supply the `@iif` at the end...
[code]
We could get around that trouble, if we'd define
[code]
so that we supply a additional empty string:
[code]

[2021-11-05 12:53] hhaensel commented on #67
I think we should do that for all macros that supply keyword-value pairs as a string, so
- `@text`
- `@bind`
- `@iif`
- `@els`
- `@elsiif`
- `@recur`
- `@on`
- `@showif`

@essenciary what do you think?

[2021-11-07 00:10] cwiese commented on #38
THis would be a cool feature `Computed`
[code]

[2021-11-07 09:14] hhaensel commented on #38
If we had a decent manual, I would say RTFM 😉
But now I say, it's already there.
[code]

[2021-11-07 09:16] hhaensel commented on #38
We have all the family:
[code]

[2021-11-07 13:38] hhaensel commented on #38
One more thought on the proposal
[code]
Did you want to propose to have `fullname` synchronised automatically? That's, indeed, something, we did not consider up to now. It would be feasible, but I'm not sure whether it is something desirable. In this case I would rather have fullname a regular Reactive variable and implement the computation on the server side.
[code]
@cwiese Can you provide a scen

[2021-11-07 16:20] cwiese commented on #38
so far twice I needed to use a observer for a simple derived value example:

[code]

and for length displayed

[code]

[2021-11-08 06:42] essenciary commented on #67
@hhaensel Thank you for the details, I understand. My thoughts are:

1/ if we have `@iif` and `@hif` it will be very confusing. This assumes that the user already understands the difference between `iif` and `hif` which means that they can just use the `"" @iif` form.

2/ it is not an unreasonable expectation/requirement to ask for the content/children of the element as the first argument. Quite t

[2021-11-08 08:28] hhaensel commented on #67
1. @essenciary `hif` was meant to replace `@iif`, sorry for not putting it right. (It was just the `hhaensel-if` for testing).
My idea behind it was to make sure the macro never ends up in the content. I verified that it is at no extra cost in terms of performance.
2. I accept your approach. I do see that it has some advantages.
3. And yes, docs will definitely help. Specialising functions that in

[2021-11-08 10:00] hhaensel commented on #67
Just another thing. `@bind` always the field to `v-model`, which is different from the usage in Vue. Should we consider a three-argument syntax, where we supply the parameter to bind to as first argument?
[code]
which would allow for
[code]

Or should we rename `@bind` to `@bindmodel` and redefine `@bind` to match the v-bind directive more closely?

[2021-11-10 22:38] hhaensel opened #68 "Fallback for synchronising typed Dicts"
After the latest releases synchronisation of typed Dicts is no longer working due to the elimination of the `try catch` block in `convertvalue()`.
This can be fixed by defining a general fallback for Dicts similar to the general fallback `Base.parse(::Type{T}, v::T) where T = v`:
[code]
@essenciary what do you think?

[2021-11-10 22:48] hhaensel commented on #54
@essenciary I think we have addressed all of the issues and we can close this...

[2021-11-11 09:40] essenciary commented on #54
Yup!

[2021-11-11 09:40] #54 closed

[2021-11-11 09:42] essenciary commented on #68
Oops, sorry! You know that part best, your call!

[2021-11-14 23:49] cwiese opened #70 "2stipple.js:1 Uncaught SyntaxError: Identifier 'watcherMixin' has already been declared"
Using the example from Stipple Readme .. the console show this (in my project I get this 5 times)

```stipple.js:1 Uncaught SyntaxError: Identifier 'watcherMixin' has already been declared```

is stipplecre loaded 2x?

[code]

[code]

[2021-11-15 01:34] cwiese commented on #17
Yes!  THis is killing me.  Debugging is very hard.  I have to go back to adding @info statements between every line.   Is this due to @async to Genie using Threads?  .. We had a similar issue is Remote Processes and had to add exception handling and logging.

[2021-11-15 06:54] hhaensel commented on #17
I agree 100%. I have three modes of workaround, depending on the level of difficulty.
- sometimes it helps to just make the respective assignment at the REPL, e.g. `model.button[] = true` instead of pressing the button.
- copy/paste the function block to an empty julia script, assign the varibiables as in the do block. Then, execute the script line by line
- put the full do block in a function (po

[2021-11-15 09:53] essenciary commented on #17
Sorry about this, I'll see if I can find a solution to rethrow the exception or show a dump of the error.

[2021-11-15 10:28] szafna commented on #17
@hhaensel the 4th workaround, I am aware, is to put in a try catch in on() do block.

[2021-11-15 12:27] cwiese commented on #17
this is great tips ..  thank you.    I will post my fav.  Also, I do remember having to put try/catched on remote_fetch functions and adding a logger.

[2021-11-15 21:42] cwiese commented on #70
![image](https://user-images.githubusercontent.com/178527/141857893-72d3b719-a7a9-4e54-b9ce-b81bfc22d8af.png)

[2021-11-16 06:47] hhaensel commented on #70
I realised this as well, thanks fo rputting it here, though.
It doesn't hurt functionalwise, but I agree that it's not nice. Let's see whether we can fix it.

[2021-11-20 15:37] essenciary commented on #70
This is now fixed on latest master, I'll tag new releases soon.

[2021-11-20 15:40] essenciary commented on #68
@hhaensel I've added it under the function you mention - will come in the next release ;)

[2021-11-20 16:13] hhaensel commented on #68
I had pushed it tonight myself ...

[2021-11-20 16:56] hhaensel commented on #68
I have another proposal to make before we release a new version.

[2021-11-20 17:39] hhaensel commented on #68
I'll only have time later tonight. But I think, we can get rid of `convertvalue()` if we define the follwoing block:
[code]

[2021-11-20 19:08] essenciary commented on #68
@hhaensel I suggest we leave convertvalue() as I'm not comfortable with this approach. We're adding methods which will interfere with the functioning of other packages used within Stipple apps and lead to unexpected results (type piracy).

[2021-11-20 19:54] essenciary commented on #68
So rather can we do the reverse, and add the Dict method back into convertvalue? @hhaensel
It's a really bad practice to define common methods on types in Base.

[2021-11-20 19:58] hhaensel commented on #68
I agree, but I thought you would stick to `Base.parse()` 😆
So let's get rid of `Base.parse()` But that will bring some changes to other packages, right?

[2021-11-20 20:22] essenciary commented on #68
@hhaensel I'm not sure I understand what you have in mind... `convertvalue` does not register methods, it only applies `convert` and `parse` methods. That's the best approach.

I committed my changes but without the `AbstractDict` parse method.

Can't we add a

[code]

part in `convertvalue`

[2021-11-20 21:07] essenciary commented on #68
Or... do you have a MWE to demonstrate the feature/failure please?

[2021-11-21 00:21] hhaensel commented on #68
I've submitted a PR in order to explain what I had in mind ...

[2021-11-22 21:41] hhaensel commented on #68
The current version works, so we can close this one. All the rest can be discussed in #71
Thanks @essenciary

[2021-11-22 21:41] #68 closed

[2021-11-24 10:04] hhaensel commented on #67
One more thought on the API. Currently, we set custom channels, debounce, etc. in the ui if we
Wouldn't it be nice if we would have a settings field for each model where we store such information?

[2021-11-24 10:04] hhaensel commented on #67
One more thought on the API. Currently, we set custom channels, debounce, etc. in the ui if we
Wouldn't it be nice if we would have a settings field for each model where we store such information?

[2021-11-26 06:46] essenciary commented on #67
@hhaensel Yes, great point - I've already added support for the channel in the model (optional, not enforced). For debounce I'm not sure: channel is instance/user dependent but debounce would be more app dependent (there's not a lot of benefit to have user dependent debounce, that's more at app level).

[2021-11-30 21:51] multidis commented on #34
@essenciary would you mind sharing your workaround to prevent Vue-warnings about custom components registration (e.g. the `dashboard1`-component [here](https://github.com/GenieFramework/StippleDemos/blob/master/GermanCredits/GermanCredits.jl))?

Would be great to get rid of those ugly warnings in the console (and anything else they potentially cause)... We are evaluating Stipple for single-user da

[2021-12-01 02:46] cwiese opened #73 "observable and model not working as expected"
Any idea why the observable is not firing?

`dash_model.name[]` is not printed - but   `span("", @text(:name))` is showing correct selected values.

[code]

[2021-12-01 13:23] cwiese commented on #73
I have added a button to display the value and it is not the same value as the `@text(:name)` is showing

[code]

[2021-12-01 13:28] essenciary commented on #73
I'm not sure what you're trying to do there... How do you expect to bind the text of a span to a Vector? What should happen there?

[2021-12-01 13:32] cwiese commented on #73
The bind works perfectly.. it is displaying the Multiple selections (as you can see) ... these issue is
1) the "on" is not firing when I user selects 1 or more items (yet @text bind is working)
2) when I use  dash_model.press_btn[]. this value is the initial value .., not the new value (as shown in the @text)

[code]

[2021-12-01 13:34] cwiese commented on #73
even when multiple are selected.. the @text is working
![image](https://user-images.githubusercontent.com/178527/144243635-0d050ac9-b064-4ae3-b95c-68f029fa38cf.png)

[2021-12-01 13:41] essenciary commented on #73
I can't really follow the code mentally so maybe you can simplify it and share it so I can run it.

When I have multiple selections I usually go with a drop down backed by vectors of String. Given that NamedTuples are immutable structs, I'm not entirely sure how that will behave.

Ex from an app:

* in the model
[code]

* in the UI
[code]

In this case, `filter_juliaversions` will be filled with t

[2021-12-01 14:04] cwiese commented on #73
are you saying my example does not work for you?    I am using a vector Named Tuples since I am displaying a label, but I need the other attributes like value, version for the selected components.   In Javascript wedo this with select and objects all the time.

The things that is weird is .. my selected values (poorly called "name") does have the correct values ..you can see them display in the Sp

[2021-12-01 14:44] cwiese commented on #73
interesting ..this works  .. I am wondering if the `select` was doing a `non-notifying` update ... we would not see @text being updated
[code]

[2021-12-01 15:19] essenciary commented on #73
Can you try replacing the NamedTuple with Dict? @hhaensel has implemented features to support nested props and working with Dicts, we might need to add support to handle Tuples, I'm not very familiar with this part.

[2021-12-01 15:25] essenciary commented on #73
If you make it easy to help you, things will go faster. If you provide a zip with the file, a Project.toml and a Manifest.toml we can instantiate and run it in 30s. Otherwise I have to do all these things myself and keep asking you about what versions of packages are you using.

[2021-12-01 15:30] cwiese commented on #73
Right he did !!!  (I was just trying to debug `function Base.getindex(r::Reactive{T}` ...  to prove the `on` working I added threw an exception in my `on` ... and it was swallowed.  This is the essence of my biggest issue with a full-blown Stipple app ... you do not get exceptions stack trace.   I will look into later but it seems Observable - other complaining too (but the only try/catch I see se

[2021-12-01 15:36] hhaensel commented on #73
The answer is relatively easy. Everything works if you switch from named tuples to dicts, because the parser translates named tuples to dicts.
[code]
It is not necessary to use dicts for the options, if you are not going to change them from the front-end, otherwise, you rather also change these
[code]

[2021-12-01 15:41] essenciary commented on #73
Exactly :)

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/11292378/144265295-05d2f62f-294a-4deb-b62b-82fa5fac3a5f.png">

[2021-12-01 15:41] essenciary commented on #73
Working code with the latest API:

[code]

[2021-12-01 15:44] essenciary commented on #73
You do get them in the latest version (0.18) - that's why it's important to reference versions. Please update to latest.

[2021-12-01 15:46] hhaensel commented on #73
@essenciary , just realised that our answers crossed 😄

[2021-12-01 15:47] cwiese commented on #73
awesome - thank you ....

[2021-12-01 15:49] essenciary commented on #73
So basically Stipple doesn't know how to convert a JSON payload into NamedTuples, right @hhaensel? There should be an exception as we can't support all the types out of the box. But must inform the users about what the issue is... I'll dig.

@cwiese You're welcome

[2021-12-01 15:51] hhaensel commented on #73
Is it really necessary to support NamedTuples? We could, of course.

[2021-12-01 15:52] essenciary commented on #73
No, even if we do support them, there will be thousand other types of data structures we can't support. But we should show an exception that "No method for converting JSON to NamedTuple" or something.

[2021-12-01 15:56] hhaensel commented on #73
There is one interesting aspect, though. We currently don't support conversion of Vector{Dict} if the DictType doesn't match. We might change that in a future version ...

[2021-12-01 18:06] #73 closed

[2021-12-04 10:33] essenciary commented on #70
Closing as should be fully solved.

[2021-12-04 10:33] #70 closed

[2021-12-04 10:36] essenciary commented on #61
@marcello-pietrobon can we close this?

To be notified of updates - for now starring/following the repos is the only way. But we'll start announcing these on social media and we'll set up a newsletter, so I'll recommend following/signing up soon.

[2021-12-04 10:37] essenciary commented on #59
@hhaensel Anything we can do here?

[2021-12-04 10:38] essenciary commented on #44
@rben01 Thanks for the updates. I'll close this.

[2021-12-04 10:38] #44 closed

[2021-12-04 10:39] essenciary commented on #51
Closing this as the new workflow (non-global models) is now the recommended approach.

[2021-12-04 10:39] #51 closed

[2021-12-04 10:40] essenciary commented on #34
@multidis @hhaensel The issue should be fixed in v0.18.2 - can you please check and confirm?
I'll close this now, please reopen if necessary.

[2021-12-04 10:40] #34 closed

[2021-12-04 23:31] multidis commented on #34
Confirming - no more custom component warning with Stipple `v0.18.2`. Thank you @essenciary !

[2021-12-05 12:13] essenciary commented on #34
🥳

[2021-12-05 21:59] multidis commented on #34
Sorry did not mean to put that stuff in - new to emojis and was trying to figure out what that one meant...

[2021-12-07 23:36] hhaensel commented on #59
We would need to replace `JSON.lower` by `StructTypes.lower` and register the type beforehand, e.g.
[code]
This is true for all packages like StippleCharts or StipplePlotly.
Furthermore we would need to replace `JSONParser.json` by `JSONParser.write` and define `const JSONParser = JSON3`
Are we going to do this?

Furthermore, I think we are not taking advantage of the structure mapping of JSON3, a

[2021-12-07 23:41] hhaensel commented on #59
Oh, we could probably do something like
[code]
Then the adapations are pretty small. I'll try.

[2021-12-08 07:30] hhaensel commented on #59
It seems that no packages use `JSON.lower()` yet, so we don't need the above lines. They would break incremental compilation anyhow 😉
I'll prepare a PR ...

[2021-12-08 07:38] essenciary commented on #59
Awesome! It was used for sure but we might've gotten rid of it. I'll run some tests with the PR too.

[2021-12-10 19:59] marcello-pietrobon commented on #61
Please wait two weeks more, I should go back to this soon, and check it again. Thank you.

[2021-12-12 00:41] hhaensel opened #76 "Multi-model again broken"
After the latest refactoring, the old multi-model concept is again broken.
@essenciary If I get it right, you have removed the channel from the model-path (earlier `stipple.js`, now `name.js` or whatever the model is called.)
This would work nicely, if the model would be loaded with a fresh initialised instance and all user-specific data would be pushed after loading (we discussed this recently).

[2021-12-13 16:48] essenciary commented on #76
I have an updated version of the demo, works fine with the new API. Will commit.

[2021-12-13 18:05] #59 closed

[2021-12-13 21:09] essenciary commented on #76
@hhaensel Can you try the demo I pushed - works great for me.

[2021-12-13 22:21] hhaensel commented on #76
I must admit that it doesn't work for me and I'd be surprised if it does for you.

There are two issues with the current version:
- they share the same channel, because `Stipple.init(MyDashboard(), channel = channel)` doesn't overwrite the model's channel that has been created with `@reactive`. If you'd have defined the ReactiveModel withh `Base.@kwdef` it would work. Now this needs to be modified

[2021-12-13 23:27] hhaensel commented on #76
I found a solution to this problem, but it has the disadvantage of first displaying the default model before updating the values, which has a flickering effect. But as reloading is not the predominant usage of the app, it might be acceptable.
- In vue_integration `vue_app = replace(json(model |> Stipple.render), "\"{" => " {")` needs to be replaced by `vue_app = replace(json(M() |> Stipple.render)

[2021-12-13 23:28] hhaensel commented on #76
I think for security reasons we need to hide the current user state from the js-file

[2021-12-13 23:31] hhaensel commented on #76
Could we place this handler in the init-routine ...?

[2021-12-13 23:38] hhaensel commented on #76
Yes we can 😄

[2021-12-14 00:26] hhaensel commented on #76
I think there is an error in `Base.push!(model::M)`. It doesn't check for the private pattern and doesn't sync non-reactive fields if I'm righhht. Anyhow, for thhe isready-event I wrote a new function `initpush`!()
[code]

[2021-12-14 00:27] hhaensel commented on #76
Not sure whether the non-syncing of fields that are identical to the default value really improves performance ...

[2021-12-14 13:32] essenciary commented on #76
@hhaensel I don't understand why would we push a default state - that's already in the model.js file when the page is rendered.

[2021-12-14 15:31] cwiese opened #78 "Multiple User application"
Is this still relevant?  we need to handle and model per user ourselves and the routes need to contain a userid?

`https://github.com/GenieFramework/StippleDemos/blob/master/AdvanceExamples/MultiUserApp.jl`

I guess I assumed the framework handled this and each user / thread has its own state/model.

I tried this application and it must be outdated.

######################### ERROR STACKTRACE ####

[2021-12-14 16:26] cwiese commented on #78
okay I updated - I have a different error for MultiUserApp.jl
[code]
[code]

[2021-12-14 16:51] cwiese commented on #78
okay I fixed dashboard() call - not error messages not console errors - but it does not work.

All Web application are multi-user - seems every application would need this feature

[2021-12-14 21:11] essenciary commented on #76
@hhaensel I pushed new versions (not registered) - latest demo of this should work on Stipple v0.19 (on #master)

[2021-12-14 21:43] essenciary commented on #78
@cwiese Indeed, that's how it works as of recently: each client gets its own state and you need to opt in for sharing the state by assigning the same channel to the clients that should share state. I was actually working on these up until a few minutes ago. We still need to update all the demos to reflect the new API but here are some updated examples:

https://github.com/GenieFramework/StippleDem

[2021-12-14 22:20] cwiese commented on #78
thank you for the update!

[2021-12-17 10:07] attdona opened #80 "Version 0.19.2: examples does not work"
with the latest 0.19.2 release the example does not work anymore:

The example output crossposted [here](https://discourse.julialang.org/t/stipple-reactivemodel-type-name-has-no-field-channel/73159)

Peeking at the code I got the following working, but I suspect that it will be not the intended new Stipple api because of explicit channel page argument (comments mark the changes):

[code]

May you

[2021-12-17 10:51] hhaensel commented on #80
You're correct, are optimising the API and cannot keep all the examples up to date during that process

[2021-12-21 23:55] hhaensel commented on #47
I link here my latest implementation of nested indexing (#79, #81).

This allows to change elements of dictionaries and arrays just by adding consecutive indices, e.g.
[code]
The element is changed correctly and only the that very element is updated via webchannel.
We soon might also support object fields.

[2022-01-09 16:03] zsz00 commented on #5
Is there any progress on the document writing?
what is the doc page url ?

[2022-01-09 18:06] AbhimanyuAryan commented on #5
@zsz00 its the top priority of us this month.  Please keep up with our discord updates

[2022-01-11 12:13] cwiese opened #86 "Support for PlotlyBase in StipplePlotly and StipplePlotlyExport"
Updated to newest version of Geneir/Stipple/StippleUI
[code]

Is this correct ?

[code]

and

[code]

I tried this and my Stipple application is Blank with no errors - I stipple see HTML in "inspect" mode .. but something is not "starting "with Vue

[2022-01-11 12:19] essenciary commented on #86
Yes, that should work but I suggest to use the new API:

[code]

[2022-01-11 19:34] cwiese commented on #86
I have a systemic issue with new version - nothing renders (I see the scripts)

[code]

[2022-01-11 19:38] cwiese commented on #86
I can see "Name:"   but not "bar
[code]

[2022-01-11 20:03] hhaensel commented on #86
The syntax of `@text` is slightly different. You should not enter any explicit text in `span` in order to use the `@text` macro (see e.g. [v-text](https://vuejs.org/v2/api/#v-text)).
So your command should rather look like this:
[code]
There is another syntax, which we currently don't support with macros, which is called interpolation, that uses double or triple [mustaches](https://vuejs.org/v2/gu

[2022-01-11 20:22] essenciary commented on #86
Drop the `vm(...)` call, it's no longer needed, just pass the model.

[2022-01-11 20:25] cwiese commented on #86
still no "bar" from model

[code]

[2022-01-11 20:25] essenciary commented on #86
Ex of the new API: https://github.com/GenieFramework/StippleDemos/blob/master/BasicExamples/HelloStipple.jl

Sorry about the difficulty, we're almost at v1 and then no more breaking updates.

[2022-01-11 21:28] essenciary commented on #86
Still not working? Please make a zip of the app and share.

[2022-01-11 21:48] cwiese commented on #86
Okay... I got a test working ... trying bigger app

[2022-01-12 00:15] cwiese commented on #86
Everything is working expt my new approach to PlotlyBase so can use features like "shapes" or subplots with 2 yaxis (many more).

1.  I have attached two files `test_plot.jl` - works fine with new stipple changes.
2. `test_plotbase.jl` - which is based on Plotlybase.jl - does not work

In order to use Plotlybase I had to change Charts.jl
[code]
#2 is a blank plot.

[Archive.zip](https://github.com

[2022-01-12 07:02] #76 closed

[2022-01-12 08:22] hhaensel commented on #86
@essenciary This issue comes from our migration from JSON to JSON3 😢

JSON3 seems to nest an additional lay named "fields" when converting structs:
[code]

[2022-01-12 08:36] hhaensel commented on #86
Just realised that the nesting with fields is from our side ...

Do we need it?

[2022-01-12 08:37] essenciary commented on #86
?

If our frontend code works with that structure won't removing it break our code?

[2022-01-12 08:39] hhaensel commented on #86
If we change our front-end code to generate dicts/structs without nested `fields`, we should probably be fine. But I would need to look into it a bit deeper

[2022-01-12 09:31] hhaensel commented on #86
Correction:

The nesting with fileds comes from `PlotlyBase`. They use a JSON3 implementation that wraps JSON as they have defined lowering for their types.

The following lines solve the issue. We might propose a PR to JSON3 ...

[code]

[2022-01-12 14:20] cwiese commented on #86
Awesome - thank you @hhaensel .     It worked.

[2022-01-12 15:37] hhaensel commented on #86
😃 So can we close this or do we leave it open until PlotlyBase is patched?

[2022-01-12 16:25] cwiese commented on #86
lets close it?

[2022-01-12 21:20] hhaensel commented on #86
I propose that if `PlotlyBase` won't merge the PR, we will make a PR for `StipplePlotly`

[2022-01-12 21:59] cwiese commented on #86
Very cool - and thank you for the help.

[2022-01-13 09:37] essenciary commented on #86
I would also like to have support for `PlotlyBase` but I'm against having both JSON and JSON3 as dependencies.

[2022-01-13 09:44] essenciary commented on #86
Potentially this also breaks StipplePlotlyExport which uses PlotlyBase. Renamed and reopened for further investigations.

[2022-01-13 09:48] hhaensel commented on #86
PlotlyBase has JSON as dependency and includes wrappers for JSON3 via `@requires`

[2022-01-13 09:49] hhaensel commented on #86
So we don't need to include JSON explicitly

[2022-01-14 15:53] mdsa3d opened #88 "Issue in getting assets"
I am trying to run a simple test model to display `dataset` in a dashboard. After executing my script only text is displayed but no dataset is loaded on front, and in the REPL I get an error showing that the assets cannot be obtained.

**Script:**
[code]
**Error Displayed:**
[code]
**System config**
`julia -> 1.6.0`
`Stipple.jl -> 0.20.2`

Would appreciate the help in fixing this issue! Thanks!

[2022-01-14 17:02] AbhimanyuAryan commented on #88
work this:

[code]

[2022-01-14 17:03] mdsa3d commented on #88
I think, I have figured out the solution for assets issue, If I add `head_content=Genie.Assets.favicon_support()` inside `page()` then it resolves the issue of assests not being imported. However, not sure whether this is correct approach? Alternatives or a viable solution is highly welcomed.

**Update Script:**
[code]
Although this solves the problem of importing assets but the frontend still won

[2022-01-14 17:05] mdsa3d commented on #88
@AbhimanyuAryan thanks for your suggestion, highly appreciate it ❤️ !!
Let me try to update my script as per your suggestion.

[2022-01-14 17:20] AbhimanyuAryan commented on #88
@mdsa3d Stipple is evolving very fast since we are pushing for v1.x(stable API, tested, docs). Before that it will have breaking changes. The example I gave you follows new API. Stipple Demos are not yet updated to new API. You shall see new API for Demos in couple of days

[2022-01-14 17:22] mdsa3d commented on #88
thanks for the update @AbhimanyuAryan. Look forward to the demos!!

[2022-01-14 17:35] essenciary commented on #88
@mdsa3d favicon_support should definitely be needed for assets.

Will check and update.

[2022-01-15 09:09] mdsa3d commented on #88
@AbhimanyuAryan I tried to used the suggested example to display the data, but for some reason it is stuck at `No data available`? Any suggestion, what could be causing this issue?
**Script:**
[code]
This is what it kept showing:
![image](https://user-images.githubusercontent.com/75714714/149616377-6796b7a9-ec70-4c6c-8a7b-8ba9f5f10591.png)
Would highly appreciate the help!!

[2022-01-15 12:58] essenciary commented on #88
I'll check

[2022-01-15 14:45] mdsa3d commented on #88
thanks @essenciary look forward to your response. 😃

[2022-01-15 20:57] essenciary commented on #88
@mdsa3d Here you go

<img width="543" alt="image" src="https://user-images.githubusercontent.com/11292378/149637452-b0099081-89ed-43ca-b843-41c85db6757b.png">

[code]

[2022-01-15 21:03] essenciary commented on #88
The changes I've made

1/ you used both `layout` and `page` - `page` includes layout so you effectively included layout twice which caused some js file to be included twice and break stuff (we should take a look at these two elements).

2/ a Stipple app has a certain lifetime cycle: some things happen in Julia, some in JavaScript; some happen when the app loads, some after the app is loaded. Updat

[2022-01-15 23:18] hhaensel commented on #86
PlotlyBase accepted my PR after some reviewing 😄
They have a Union type `HasFields` for all types that are affected. So we finally ended up with a two-liner...
As soon as the next PlotlyBase version is tagged, we close this issue.

[2022-01-16 11:53] AbhimanyuAryan commented on #88
@mdsa3d yes you were missing `data_ops` where you map columns also shown in German Credits: https://github.com/GenieFramework/StippleDemos/blob/72ff23d9f5b055af3fc1551bc5ebfa98d3ea29ea/GermanCredits/GermanCredits.jl#L8

[2022-01-17 01:49] mdsa3d commented on #88
thanks @essenciary for the detailed example and also giving solution to the problem. I highly appreciate it !!
Your post has provided a great insight on the use of this package.
And thanks to @AbhimanyuAryan for helping and suggesting throughout this post.

Thanks both of you !!!

[2022-01-17 01:51] mdsa3d commented on #88
Hahah I am learning Stipple and front end for now, though you already have lot of experts working on it but if you want someone to help in preparing documentation or contribute in any way, I will be happy to help. This will also push me to learn more about this package!! and help others in future.

[2022-01-17 02:00] mdsa3d opened #89 "Uploading csv to backend to process and display results"
I would like to know how can i upload a `csv file` through stipple to the backend for processing?
Currently, I am working with the example provided by @essenciary which can display a random dataframe to the frontend. However, I want client users to upload their own csv file.

Example Script:
[code]

Thanks would highly appreciate the help! Look forward to the suggestions.

[2022-01-17 04:10] AbhimanyuAryan commented on #88
@mdsa3d that sounds awesome. We are looking forward to more amazing open source contributors(saviors of the world). You can begin by contributing to [Stipple Demos](https://github.com/GenieFramework/StippleDemos) since you are already learning Stipple. For *file uploads* you can easily extend Stipple components with Genie(our full-stack framework): https://www.genieframework.com/docs/tutorials/Han

[2022-01-17 05:37] AbhimanyuAryan commented on #89
For *file uploads* you can easily extend Stipple components with Genie(our full-stack framework): https://www.genieframework.com/docs/tutorials/Handling-File-Uploads.html

Please feel free to share your feedback about our docs. I'm working on genie framework documentation. Let me know if anything in docs is confusing/non-obvious or needs any kind of improvement.

You can check a Stipple/Genie file

[2022-01-17 05:39] AbhimanyuAryan commented on #89
also if you don't want Genie specific functionality. You can totally skip `using Genie` at top. Most of the rendering logic(html methods) is exported to Stipple from Genie.

In the example Adrian provided. You can remove `using Genie` from top. Just say `using Stipple, StippleUI` make it cleaner :)

[2022-01-17 05:53] hhaensel commented on #89
In [this discussion](https://github.com/GenieFramework/StippleUI.jl/issues/39) you can find an example of uploading a file.

[2022-01-18 13:40] mdsa3d commented on #89
Thanks @AbhimanyuAryan and @hhaensel for the suggestion and help, the recommendation has been quite helpful. Based on the posts I have managed to create a script which can import csv files to backend.
Code:
[code]
Hopefully, this is helpful for others. But do suggest any modifications to make this code better and fast.
Thanks again for the help!

[2022-01-18 13:52] mdsa3d commented on #89
I would like to ask a following question, while processing the `csv file` at the backend I will convert it into DataFrame Object. And from this object `data` and `data_opts` are generated to render the table in front end. My query is that, how can i automate the `data_opts` for each csv file ? As with each csv_file the `number of columns` and `name` will change.
Would highly appreciate any suggest

[2022-01-18 14:58] essenciary commented on #89
What flow do you have in mind? "Empty" page, then users upload a CSV and then display it? That's relatively easy.

1/ The globals `dt` and `dt_opts` are quite bad for performance (and as a general approach) and you don't really need them - so you can remove that an the `on(isready)` code because you're setting some random data there which is useless.

2/ inside the handler of `route("/", method =

[2022-01-18 20:32] hhaensel commented on #89
I agree. I'm still wondering, what a good appproach could be. I have in my mind something like
[code]
We might consider using the more performant [`Dictionaries.jl`](https://github.com/andyferris/Dictionaries.jl) instead of Dicts.

[2022-01-19 08:50] essenciary commented on #89
I'm thinking of the following features:
1/ session management by default - we need a way to associate the current request with a model instance. Most likely by storing the channel onto a session cookie.
2/ model storage - ability to keep the model itself in RAM, indexed by channel. Here we should also provide the option to serialize the model instead of keeping it live in RAM and automatically des

[2022-01-21 15:31] essenciary opened #91 "Support for UTF with JSON3"
zy_os — Yesterday at 5:39 PM
@essenciary to resolve this bug, I fould that it need to change Stipple.jl :39  @inline JSON3.rawbytes(x::JSONText) = x.s    ->   @inline JSON3.rawbytes(x::JSONText) = codeunits(x.s)

[2022-01-21 16:27] hhaensel commented on #91
Very true!

[2022-01-21 16:32] hhaensel commented on #91
@essenciary
Are you doing it?

[2022-01-21 18:24] essenciary commented on #91
Yes! Just want to test it before tagging a new release, to make sure it doesn't break anything.

[2022-01-21 18:54] hhaensel commented on #91
Sounds good. Your fix looks should be ok. It's the same way how we fixed JSON3 for PlotlyBase ...

[2022-01-26 14:29] essenciary commented on #91
This has been released yesterday in v0.20.4

[2022-01-26 14:29] #91 closed

[2022-01-27 04:26] AbhimanyuAryan commented on #80
@attdona most of the examples are updated to use new API. Please check and let me know if something doesn't work

[2022-02-06 14:27] mdsa3d commented on #89
@hhaensel If I may suggest, `Serialization.jl` combined with struct objects could be great option in to keep the models small and performant. In addition, this could also allow users (app owners) to store the sessions (haha could be bad practice but just putting it put there).

[2022-02-06 15:17] hhaensel commented on #89
There is also BSON, which stores binary Julia data.

[2022-02-06 22:40] hhaensel commented on #89
Just some more thoughts to allow for more than one tab. I think we need to
- store authentication on a session cookie (that could be valid for all open tabs)
- store models in a Dict{Channel, ReactiveModel} (or channel_id)
- when the webchannel is closed we can destroy the model

If we don't separate model and channel, we end up with two tabs displaying the same view.

@essenciary would you agree?

[2022-02-28 08:46] zsz00 commented on #5
文件编写是否有任何进展？
什么是文档页面网址？

[2022-02-28 08:52] AbhimanyuAryan commented on #5
@zsz00 we are currently in process of testing Stipple after testing we will proceed to docs. For Stipple examples you can look at: https://github.com/GenieFramework/StippleDemos

For component wise examples. We are writing tests for them which can also look at here: https://github.com/GenieFramework/StippleUI.jl/tree/tests/test/components

[2022-03-10 16:09] mdotend opened #96 "Extend @R_str to allow escaped strings"
I just stumbled upon an issue while using the macro **@R_str** in combination with variables. As macros execute the input in a different namespace, it is not possible to dynamically access e.g. array fields in a loop.

## Problematic behavior:
`@R_str "myArray[item.id]"` led to this error: _item not defined_

## Workaround / proposed fix:
I added another macro with an escaped string, which solved

[2022-03-11 06:48] hhaensel commented on #96
Escaping for R_str is not a good idea. The reason is that Vue supports javascript expressions to be evaluated for its fields. Imagine you would have an array of tooltips `tips = ["Hello", "World"]` and you wanted to link the first array element to your tooltip. In html code this would read
[code]
With StippleUI this translates to
[code]
This would not be possible to write with escaped syntax. Also

[2022-03-11 09:34] mdotend commented on #96
Thanks for the explanation!
Unfortunately, when I use the Symbol approach, there is no v-model created (at least for checkboxes).
I suppose the reason is because it is accessing the value in the element and not the element itself.

[2022-03-11 16:35] hhaensel commented on #96
Please supply your code here

[2022-03-11 20:15] hhaensel commented on #96
I tested the following
[code]

So I don't see what's not working with `Symbol`, maybe some misunderstanding?

[2022-03-14 11:46] mdotend commented on #96
I use an BitVector to store and process the input and this does not create the v-model. Maybe that is the issue:
[code]
In my App I also use it in a model with the Reactive wrapper, but this should not change the behaviour, right?

[2022-03-14 12:22] hhaensel commented on #96
I think this is not, what you are aiming at. The checkbox function is part of the ui, which connects parts of the model with checkboxes on the front-end. So your html code should look like `checkbox("hi", R"myarray[0]")` for the first checkbox, `checkbox("hi there", R"myarray[1]")` for the second checkbox, etc.
Here's a working demo for what I think you are trying to achieve:

[code]

[2022-03-14 12:26] hhaensel commented on #96
The first three checkboxes are classical 1:1 mappings directly taken from the checkbox example in StippleDemos. The next three checkboxes are mapped to a bit-vector `checks` which is part of the model. You can update the checkboxes from Julia, e.g. by setting
[code]

[2022-03-14 12:53] hhaensel commented on #96
If you like zero-based indexing also on the Julia backend then you can also use the package OffsetArrays and do
[code]

[2022-03-14 13:10] hhaensel commented on #96
I added a demo in StippleDemos

[2022-03-14 13:30] mdotend commented on #96
Thank you, that works as intended without the macro!

[2022-03-14 13:30] #96 closed

[2022-03-14 17:49] mdotend opened #97 "Remove `Stipple.init(m::M, ...)` and document workflow (`isready` and other app events)"
Hi again :)
I just noticed this strange behaviour when initializing a ReactiveModel.
When I call the init()-Function before altering values in the Struct, the values are visible on the backend side but they are not transferred to the remote Endpoint and are thus stuck on the default values. But if I first create the Struct and set the values and afterwards call the init()-Function, the values are

[2022-03-14 18:05] essenciary commented on #97
@mdotend That is by design - there are 2 `Stipple.init` methods:
* `init(::Type{T}, ...)`
* `init(T, ...)`

The first one is valid, initializing using the Type -- which clearly expresses the idea that there is no state, `init` is set up with the default values and all updates are to be sent when the `isready` handler is triggered.

The `init(T, ...)` has been kept for legacy and it actually calls

[2022-03-14 18:08] hhaensel commented on #97
The syntax has changed already quite some time ago. The new syntax is `init(Test)` and always initializes a model with the default values.
In order to have an up to date model you should include a handler that pushes the actual values of the model to the backend.
[code]
(Currently on my mobile, so no guarantee for typo-free code 😉 )

[2022-03-15 11:36] mdotend commented on #97
Thank you for the explanations!
I guess, that I understood the init function now, but still have my issues with the isready handler. I have only found one example in the demo, but this also uses sessions, which is a problem for another time :D

The handler @hhaensel posted works fine for a simple example, but it does not work for me with dynamic content. As far as I understand, the page has to be

[2022-03-15 14:18] essenciary commented on #97
Yes, this is for a post I've been wanting to write for a long time, about the life-cycle and the various events of an app. Let me see if I can explain the gist here. So there are quite a few layers with various types of interactions.

1/ Sync request -- server side response
-> browser makes request to a URL
-> the request is handled by the corresponding `route`
-> the initial response/payload is p

[2022-03-15 16:35] mdotend commented on #97
Yes this does make sense and is a good description, though I am still struggeling to convey it to my problem at hand.
I understood that the logic has to be already in the html, so I used @recur, which worked out quite well.
I still have issues with accessing the v-for variable for my checkboxes, but I guess, that this is just an framing issue.

My biggest problem at the moment is, that the synchro

[2022-03-15 22:00] hhaensel commented on #97
Hi @mdotend ,
there is one point that we didn't see up to now. The fact that it doesn't update correctly has to do with timing. I worked around it with a delayed `@async` call. (@essenciary that should be either solved or included in our docs ...)

Here's a fully working script
[code]
![grafik](https://user-images.githubusercontent.com/31985040/158479641-914cfd04-a48b-491e-95c2-cee2dbb884e5.png)

[2022-03-15 22:05] hhaensel commented on #97
@essenciary We could hide the `on(model.isready)` handler in the init routine, what do you think?

[2022-03-15 22:08] hhaensel commented on #97
I'd add a kwarg "push_on_isready = true"

[2022-03-16 07:56] essenciary commented on #97
Yes, we could put it on init, makes sense.

[2022-03-16 08:00] essenciary commented on #97
I can work on it - I'm struggling to make the session ModelStorage work, for some reason the session state gets pushed to all channels/clients.

[2022-03-16 10:14] hhaensel commented on #97
I saw that sometimes the model wouldn't update after redefining `ui(model::Test)`. I couldn't get a clue and will do some more testing...

[2022-03-22 08:18] mdotend commented on #97
@hhaensel Unfortunately I could not get your script working, I experience the same behaviour as before. Is there anything I can do to assist you?

[2022-03-22 11:25] hhaensel commented on #97
It's strange, but today it doesn't work for me either. I did update all my packages lately. After increasing the sleep value from 0.1 to 0.5, it worked again.
@essenciary We might have to implement a handshake here...

[2022-03-22 13:57] essenciary commented on #97
I'll check it out - I have multiple changes for the 0.22 upcoming release. Things work smoothly on my side, including with the Session `ModelStorage` support.

I'll run this example on the new codebase.

[2022-03-25 00:19] essenciary commented on #97
Indeed, it wasn't working in some situations. The problem was that the frontend would successfully subscribe to the websockets connection and immediately trigger the `isready` event. However, on the first run (and even on subsequent runs sometimes), even though the websockets connection was ok, the backend wasn't ready (meaning fully configured to handle model updates). So effectively the frontend

[2022-03-25 05:10] hhaensel commented on #97
Wow, I'll check this out! 🚀

[2022-03-30 18:44] meeheal commented on #80
@AbhimanyuAryan

New user to Stipple here! I have done some work in flexdashboard before though and looking to improve on all of that work by upgrading to Julia. It is a little slow going, but I have seen enough of Julia to know I need to do this for a) satisfaction, and b) continue to progress that work as the Julia packages in the field are growing but the R packages may or may not.

I am trying

[2022-03-30 21:00] hhaensel commented on #80
Hi @meeheal ,
to me that sounds as if you had an old version of Stipple installed. Please check:
[code]
The version should be `v0.22.0`.
Otherwise, please update
[code]

[2022-03-31 13:48] meeheal commented on #80
I got that worked out with

` activate `

and now `up Stipple` is doing something it appears! Thanks for your help.

[2022-03-31 16:49] meeheal commented on #80
I am providing an update. I had Julia 1.5.3 running when my problems described above occurred. I installed Julia 1.6.6, and while `up Stipple` still would not upgrade from Stipple 0.15.0 to 0.22.0, as Stipple was already added in the project.toml in the activated working directory in VSCode, when I then tried `activate` and `status` showed no packages, I added Stipple with `add Stipple` and finall

[2022-04-01 06:28] hhaensel commented on #80
I think you are confusing
[code]
and
[code]
The latter one activates the `Project.toml` of the directory where you are in.

There was another bug on our side; we had not included the latest Stipple versions in the Project.toml. I just changed that.
So for the future you can do
[code]
to bring your Stipple packages up to date.

[2022-04-09 17:39] mdsa3d opened #102 "`jsliteral not defined` error"
Hi, i recently updated my project packages and after that I have been experiencing the below mentioned error upon running the web app. May I ask, what could be causing this issue ?

Error:
[code]

Thanks, would highly appreciate the advice and help !

[2022-04-09 18:33] AbhimanyuAryan commented on #102
Can you post your code? Or mwe

[2022-04-09 19:50] essenciary commented on #102
I think some of the packages have not been updated. Can you post the output of `pkg> st`

[2022-04-10 10:17] mdsa3d commented on #102
Thank you for the response @AbhimanyuAryan and @essenciary , these are the list of packages I am using for now:
[code]

[2022-04-12 14:37] AbhimanyuAryan commented on #102
@mdsa3d can you try latest 0.22.0 stipple, StippleUI, SP? and let me know?

[2022-04-22 07:55] AbhimanyuAryan commented on #5
@zsz00 we have release v1 for Stipple, StippleUI docs. Feel free to create issues, pull request and drop your valuable feedback as we are continuously improving docs: https://www.genieframework.com/docs/

[2022-04-22 09:11] zsz00 commented on #5
Thank you for your great work!!

[2022-04-28 14:45] hhaensel opened #104 "multi-page app stopped working with new DEPS API"
With the latest changes `Stipple.init()` checks whether a dependency entry of the key `MODELDEPID` already exists and if not, adds it to the DEPS dict.
This breaks multi-page apps because the deps include the wrong js file.

My current workaround is to clear the entry before calling `init()`
[code]

@essenciary, @AbhimanyuAryan

Wouldn't it be better to create entries for each ReactiveModel type?

[2022-04-28 14:47] hhaensel commented on #104
Not sure, whether we would need `MODELDEPID` any longer. But we would also need to modify `injectdeps()` to include the model type.

[2022-04-29 06:06] epatters commented on #19
In case it's helpful to anyone, here is a version of the demo that works on Stipple v0.23 / StippleUI v0.18:

[code]

[2022-04-29 06:08] hhaensel commented on #104
I think this issue is also relevant for testing and development. Imagine you develop a model and you want to test a variant that you name differently, or you jump to another project and want to test the page without reloading Stipple. Due to line 806 in `Stipple.jl` the page will always include the name of the model that was first initialised with `Stipple.init()`.

My conclusion is, MODELDEPID mu

[2022-04-29 07:47] essenciary commented on #104
I need to look closely - but could it be related to the fact that you're using global models? If you initiate the model in the `route`, wouldn't that create a new response with the new model?

[2022-04-29 09:15] hhaensel commented on #104
Here's an MWE:
[code]

[code]
The last line should read
[code]

[2022-04-29 09:16] hhaensel commented on #104
You can inspect Stipple.DEPS, to see what's happening

[2022-04-29 11:56] essenciary commented on #104
Merged proposed PR

[2022-04-29 11:56] #104 closed

[2022-04-29 11:57] essenciary commented on #102
Closing for lack of feedback - please reopen if updating the latest version does not fix the problem.

[2022-04-29 11:57] #102 closed

[2022-04-29 12:03] essenciary opened #106 "@reactive! not working on Julia 1.8"
[code]

If it can not be fixed, I suggest removing the feature. @hhaensel

[2022-05-01 07:34] hhaensel commented on #106
We could skip setting the name for Julia 1.8
It would still work but wouldn't look so nice. It's so useful for development.
Moreover there is an open issue in BSON with the same error. Let's see what's happening there

[2022-05-05 08:54] essenciary commented on #106
What does it mean that it doesn't look that nice?
If you recommend keeping it, as is, sure. Do you want to make a PR for the change?

[2022-05-05 23:26] hhaensel commented on #106
Well, I fixed this already 4 days ago 😉

[2022-05-05 23:28] hhaensel commented on #106
Not nice means, the name of the type is not the original one, but we assign a variable with the correct name with that strangely named struct. When you call it, you see that the name is different.

[2022-05-07 21:09] michaelfliegner opened #109 "@bind and @recur intransparent for path expressions with nested dicts"
I have working QUASAR code displaying from nested dicts, which seemingly cannot be refactored into stipple code. 

""" <input v-model="csect['contract_revision']['description']" v-on:keyup.enter="modContractRevision=true"/> """

the model is defined as follows"

@reactive mutable struct Model <: ReactiveModel

    modContractRevision::R{Bool} = false

    modProductitemRevision::R{Bool} = false

 

[2022-05-07 22:43] hhaensel commented on #109
I can't acces the link ...

[2022-05-07 22:49] hhaensel commented on #109
In a very similar context I used
[code]

[2022-05-08 06:12] michaelfliegner commented on #109
Just made the repo public.
Sorry.

hhaensel ***@***.***> schrieb am So., 8. Mai 2022, 00:43:

[2022-05-09 09:20] hhaensel commented on #109
Currently only on my mobile, but I think line 117 should contain square brackets with a colon (non-notifying model field modification).
[code]

[2022-05-09 15:16] hhaensel commented on #109
I tried both, `textfield` and `@bind` with the current Stipple version, and I succeeded with both of them.
I placed my versions on top of your direct `input` binding to verify that fields synchronise.
[code]

[2022-05-09 20:33] michaelfliegner commented on #109
**A BIG BIG Thank You!**

[2022-05-09 20:33] #109 closed

[2022-05-13 22:27] montyvesselinov opened #110 "import Stipple causes UndefVarError: @with_kw not defined"
[code]

[2022-05-15 09:06] hhaensel commented on #110
Could you please indicate your Stipple versions?

[2022-05-15 15:49] montyvesselinov commented on #110
The latest (v0.23.0)

[2022-05-15 15:50] montyvesselinov commented on #110
[code]

also fails:

[code]

[2022-05-15 23:08] montyvesselinov commented on #89
It will be great if there is an example demonstrating how you can upload and process a CSV file.

For example, it will be nice to show you can upload a custom CSV file to perform k-means clustering using the example https://github.com/GenieFramework/StippleDemos/tree/master/IrisClustering but uploading . The CSV file should be uploaded using for example https://github.com/GenieFramework/StippleDem

[2022-05-16 07:21] essenciary commented on #110
Very interesting - looks like `import Stipple` messes some things up. `using Stipple` works as expected.

[code]

[2022-05-16 13:12] montyvesselinov commented on #110
I know that using works. The problem is that import does not work.

[2022-05-16 14:30] hhaensel commented on #110
The reason is that the macro evaluates in the current name space, where the macro is not available.
Could you live with
[code]
That would work out of the box with the current version. We can easily reduce it to
[code]
with minor corrections. I was not successful in removing the necessity of importing `@with_kw` in a quick fix `@reactors`

[2022-05-16 15:40] hhaensel commented on #110
If found a fix in Mixers.jl that would make importing unnecessary. I'll supply a PR.

[2022-05-16 15:41] essenciary commented on #110
Frankly, there's little value in `import`ing Stipple.

Making meaningful data apps requires using a pretty large API, and importing these by hand is counter productive. For instance, `using Stipple` automatically brings into scope all the `Genie.Renderers.Html` methods that are needed for building the pages.

@montyvesselinov What's your use case for going with `import`?

[2022-05-16 15:51] montyvesselinov opened #111 "Loading of js scripts fails"
running the CVSUpload.jl demo fails:

[code]

[2022-05-16 15:52] hhaensel commented on #110
Anyhow, I filed a PR, let's see what the authors say.

[2022-05-16 15:59] hhaensel commented on #110
I could understand, that some people don't want to populate their name space too heavily. Particularly, `Genie.Html` has some definitions like `a, p, div`, which easily collide.

But I agree with @essenciary that many imports are required to write nice code, although this maybe even more relevant to StippleUI than Stipple itself.

[2022-05-16 16:03] essenciary commented on #110
Yes good point. Also, the error is not nice, up to the users if they want to `import`.

[2022-05-16 16:08] essenciary commented on #110
Yes, `div` is problematic because of `Base.div` and because it didn't make sense to "specialise" a division method with one that does HTML generation. Maybe we could stop exporting it in Genie 5 and export `htmldiv` or `hdiv` or something. Or "specialise" `Base.div`? Specialising `Base.div` would be what the users expect, even if it's forced.

As for `a` and `p` - why are these problematic? Haven'

[2022-05-16 17:07] AbhimanyuAryan commented on #111
can you try now? This demo is contributed recently by a Stipple User and deps where's restricted to match compatible version of packages(Stipple, StippleUI). I just pushed a fix which should fix it: https://github.com/GenieFramework/StippleDemos/blob/master/BasicExamples/CsvUpload/Project.toml

Also please feel free to re-open the on StippleDemos if it still doesn't work. Thanks :)

[2022-05-16 17:07] #111 closed

[2022-05-16 17:50] montyvesselinov commented on #111
Ugh! Installing StippleCharts causes the problem. It does not work except for the latest versions of Stipple ...

[2022-05-16 18:04] AbhimanyuAryan commented on #111
@montyvesselinov stipple charts is not a dependency of this project. Also we have dropped support for StippleCharts.jl in favour of StipplePlotly.jl

[2022-05-16 21:24] hhaensel commented on #110
If you do scientific computing there is some non-negligeable probability to have variables named `a` or `p` ...

[2022-05-17 07:44] hhaensel commented on #110
A new version of Mixers.jl has been released with my proposed PR.
I updated Stipple accordingly.
With the latest master branch you now can do

[code]

[2022-05-17 16:28] montyvesselinov commented on #110
Thank you!

[2022-05-17 16:30] montyvesselinov commented on #110
when you are dealing with many packages and writing big codes, the coding is much more readable and understandable when the "namespaces" (packages) are explicitly labeled.

[2022-05-17 17:17] essenciary commented on #110
I agree, but that's not necessarily tied to `import`. You can be `using` and still use the `Fully.Qualified.Name` for explicit namespacing.

But anyway, now that @hhaensel has sorted out the issue, `import` should also work.

[2022-05-18 18:04] montyvesselinov commented on #110
"import" works! Thank you!

[2022-05-20 15:38] MariaHei opened #112 "[Help] Downloading a file from localhost"
Hi :)

I have been developing a small app with Stipple, and I'm having loads of fun with it! Thank you so much for developing this.

At the moment, my app is living on the localhost. I would like to add a feature where the user can download a file (from my local file system, on localhost). However, I can't seem to find a way to do this. It is suggested [here](https://gitter.im/essenciary/Genie.jl?

[2022-05-20 15:50] essenciary commented on #112
@MariaHei All the files placed inside the `public/` folder in the root of the app are publicly accessible. If the `public/` folder does not exist, create it. Then put the file inside the folder and use the `<a href...` approach you mentioned above.

Ex:
* file: `public/csv/my_file.csv`
* href: `<a href="/csv/my_file.csv" download>` <- do not put `public/` in the URL

[2022-05-20 15:54] #112 closed

[2022-05-22 17:08] camilodlt commented on #5
It would be really nice to have tutorials and walkthroughs. The current documentation is great for reference but it's not easy for getting started.
Thank you for your work!

[2022-05-23 09:35] essenciary commented on #5
@camilodlt 100% that we need guides and walkthroughs. We have some in the pipeline but any contributions from users would also be greatly appreciated and would help a lot. We're more than happy to host user created guides on the official docs website.

[2022-05-26 22:10] hhaensel commented on #106
There's another problem with redefining a model. Due to line 819ff in `Stipple.jl`

[code]
the model's js file, e.g. `model.js` is not replaced after redifining a model.
I you are in the design phase and want to change your  model, you also need to

[code]

[2022-05-27 08:31] essenciary commented on #106
I'm on 1.8 and it's not a severe issue. The result is indeed multiple routes being added as models are renamed which is not great, but not breaking.

[2022-05-29 13:13] michaelfliegner opened #113 "Rendering of client data is too restrictive"
Julia keyword syntax for rendering of client data prevents use of complex types in Stipple generated components.
For instance, the q-tree component api requires reactive values:

      selected: ref('Pleasant surroundings'),
      ticked: ref([ 'Quality ingredients', 'Good table presentation' ]),
      expanded: ref([ 'Satisfied customers', 'Good service (disabled node)', 'Pleasant surroundings' ]

[2022-05-30 07:54] michaelfliegner commented on #113
analysis was wrong. Solution with the existing code:
client_data(
  client_data(selected=Dict{String,Any
  }("__v_isRef" => true,
    "_rawValue" => "Pleasant surroundings",
    "__v_isShallow" => false,
    "_value" => "Pleasant surroundings"))

[2022-06-04 22:30] hhaensel commented on #113
@michaelfliegner I really like your work around!
I reopened this one, because I think it is worthwhile either writing a macro that generates that kind of output or to somehow make `ref` available.
But whatever I tried, I couldn't get it imported. I tried including example.js as a module to make importing possible. But
[code]
failed with
[code]
If ref could be imported, we could do
[code]
Whoever h

[2022-06-06 20:40] hhaensel commented on #113
@essenciary, @AbhimanyuAryan Can anyone of you help here?

[2022-06-07 09:13] essenciary commented on #113
Import doesn't work because Vue is not used as a module. `ref` should already be available in the API.

[2022-06-07 18:13] hhaensel commented on #113
I'd be happy to learn how!

[2022-06-07 18:18] essenciary commented on #113
I'm not sure if you guys are looking at the right Vue version.

We're using Vue 2 - https://v2.vuejs.org/v2/api/#ref which according to the docs expects a string.

Seems to be a different story in Vue 3 https://vuejs.org/api/reactivity-core.html#ref

[2022-06-07 19:49] hhaensel commented on #113
@essenciary seems to be right, it's a Vue 3 property. I saw many examples with `ref` and assumed they'd be Vue-2.
I found this [page which explains the `ref` and `reactive`](https://unlu-fa.medium.com/whats-new-in-vue3-6c65fb21957).

@essenciary shall we define the macros then? Or would we be fine with just defining:
[code]
 ?

[2022-06-09 15:32] essenciary commented on #113
@hhaensel the function looks good to me, it's clean and clear.

[2022-06-14 10:02] jochenkrattenmacher opened #115 "core_theme = false does not work"
Hello,
as described in #85 , the below the code does not produce the expected result, in that stipplecore.css is still loaded despite "core_theme = false" given to Stipple.init (using a semicolon instead of a comma between the parameters for Stipple.init produces the same result)

[code]
julia> VERSION
v"1.7.2"

pkg> status
  [c43c736e] Genie v4.18.1
  [6d011eab] Inflector v1.0.1
  [e6f89c97] Logg

[2022-06-16 21:58] cwiese opened #116 "multiuser"
Can you point me to an example of MULTIUSER models?  I would also like to accept a Query param like so

http://127.0.0.1:8000?state=Michigan

This would filter the model for this "user" for michigan only.

How can I do that?

CHuck

[2022-06-16 22:30] cwiese opened #117 "nested model properties"
my model has a daterange

[code]

how do I refer to a nested properties ( :daterange.start will not work of course)

[code]

[2022-06-17 05:01] hhaensel commented on #117
`R"date.start"` or `Symbol("date.start")` should go the job.

[2022-06-17 07:06] AbhimanyuAryan commented on #116
we had an example for that but currently it's broken: https://github.com/GenieFramework/StippleDemos/blob/master/_broken_/MultiUserApp.jl

I'll fix it and ping you here.

[2022-06-17 07:32] essenciary commented on #116
All apps are multi-user _by default_ now (no shared state unless explicitly set)
https://github.com/GenieFramework/Stipple.jl/blob/358f182ec1f3d901362fb32a258471a31c02cff0/src/Stipple.jl#L269

[2022-06-17 07:36] AbhimanyuAryan commented on #116
aah ok missed this. Thanks

[2022-06-17 12:49] cwiese commented on #116
awsome !!!  - when a user go to the server with a Query Param like
http://127.0.0.1:8000/state=Michigan
how can I get "state"  .. this is not Model is ready?

[2022-06-17 13:13] cwiese commented on #117
does not seem to work - here is a simple example

[code]

[2022-06-17 13:24] hhaensel commented on #117
I'll have a look when I'm back at my computer. Currently only on my mobile. I think, the point is string to date conversion. I know there are date pi kers ...
Maybe you could try that

[2022-06-17 13:43] essenciary commented on #116
I'm not sure what you're trying to do.

A GET/query param is sent on the initial server request over HTTP. It's part of the request and can be accessed in various ways, including

[code]

or

[code]

If you want to share state between multiple users based on the `state` GET/query param you need to set the model's channel to this shared "name". You can do it explicitly when you initialize the model

[2022-06-17 14:02] cwiese commented on #117
Oddly in the datepicker example - they use a Text Field to show a date - in the popup button.  I want to show a range.
[code]

[2022-06-17 14:16] cwiese commented on #116
excellent thank you

[2022-06-17 14:18] cwiese commented on #117
I am using DateRange (single) .. and I

[2022-06-17 14:21] cwiese commented on #117
maybe I will switch to 2 dates

[2022-06-17 14:56] cwiese commented on #116
I am confused on where to put this "getpayload(:station)"

If I put in the  on(model.isready) it is not there... if i put elsewhere it runs on server start. - before ad user hits the URL

[code]

[2022-06-17 14:57] essenciary commented on #116
I don't understand what you're doing - can you show your code?

[2022-06-17 18:41] cwiese commented on #116
I  added to route and it looks good so far !

[2022-06-20 00:28] #116 closed

[2022-06-20 00:28] cwiese commented on #116
thank you

[2022-06-20 09:12] hhaensel opened #118 "Support mixin of structs"
Hi @essenciary, @abhimanyuaryan
quite some time that the mixin topic was [raised in StippleUI](https://github.com/GenieFramework/StippleUI.jl/issues/32#issuecomment-954485741). Now I have a new use case in StipplePlotly to follow this up.

I propose to include the following in Stipple.

[code]

and the following in StipplePlotly

[code]
in order to support
[code]

I see some advanteage over the ap

[2022-06-20 14:59] wildart commented on #117
The date isn't showing because `render` function for `DateRange` renames fields to `from` & `to`:
https://github.com/GenieFramework/StippleUI.jl/blob/231c7aca8cd8e03288f483477271b815c10186ec/src/DatePickers.jl#L135-L137

When you define field name as `Symbol("daterange.from")` in `textfield` call, the date is showed correctly.

[2022-06-20 15:04] cwiese commented on #117
Thank you Art - I need to dig more.

[2022-06-21 05:38] AbhimanyuAryan commented on #117
Thanks, Art. @cwiese did it work for you?

[2022-06-21 10:49] hhaensel commented on #118
@AbhimanyuAryan
You self-assigned this task. What do you mean by that?

If you like this approach, I would simply implement it. It's non-breaking.

with the `var""` syntax some more things can be done:
[code]

[2022-06-21 12:07] AbhimanyuAryan commented on #118
@hhaensel I get the error https://github.com/GenieFramework/Stipple.jl/pull/119 on

[code]

[2022-06-21 12:08] hhaensel commented on #118
I would also use this in `Tables.jl` for pagination and selection.
And I would introduce an alternative notation to provide a prefix:
[code]
[code]

[2022-06-21 12:15] hhaensel commented on #118
I know where it comes from, it's from the fact the the macro evaluates the expression within its name space.
Let me work on it a bit...

[2022-06-21 13:48] wildart commented on #117
Why are the names different? It's confusing.

[2022-06-21 15:56] hhaensel commented on #118
It took some time to get around the context problem, but here we go!

[2022-06-21 16:03] hhaensel commented on #118
Now you can do all that nice stuff:

[code]
and then
[code]

[2022-06-21 16:06] AbhimanyuAryan commented on #117
@wildart will discuss this with @essenciary @hhaensel and if there's no specific reason for different names. We can use `start` `end`

[2022-06-21 18:33] essenciary commented on #117
While it's good to keep the same names in principle, I'm not sure here:
1/ Quasar does not always make the best naming decisions, and this is one example
2/ Stipple abstracts away and improves the Quasar API (where possible) making the API "julian" - many names don't translate well to Julia
3/ Why do we even need to know how props are called in Quasar? This should be a standalone element with its

[2022-06-22 07:10] hhaensel commented on #118
@essenciary, @AbhimanyuAryan
so ready to be merged?

[2022-06-22 07:15] AbhimanyuAryan commented on #118
where is this `register_macro_mixin` from?

[code]

[2022-06-22 07:21] AbhimanyuAryan commented on #118
@hhaensel thanks I saw `register_mixin` in the code but I thought it was one more function

[2022-06-22 07:23] AbhimanyuAryan commented on #118
@hhaensel looks awesome. We can merge :D

[2022-06-22 09:27] hhaensel commented on #118
It's all done, mixins are usablefrom now on 😄

[2022-06-30 11:09] jochenkrattenmacher opened #121 "prefix does not work for @mixin"
Hello,

if I enter

`@macroexpand @mixin plot::PBPlotWithEvents 1 2`

I get
[code]

(only the 2 is used)

Further info:
`@macroexpand @mixin plot::PBPlotWithEvents 1 2 3`
same result as above

`@macroexpand @mixin plot::PBPlotWithEvents 1 2 3 4`
produces error

`@macroexpand @mixin plot::PBPlotWithEvents 1`
same result as
 `@macroexpand @mixin plot::PBPlotWithEvents`

 cheers and thanks for the aw

[2022-07-01 15:45] hhaensel commented on #121
Please see the docstring of `register_mixin` which explains the recommended usage:

[code]
There was an implementation error, which I fixed today, so please be sure to download the latest version.

BTW, if you want to just copy an existing struct into a model, you do
[code]

[2022-07-11 05:54] michaelfliegner opened #127 "404 on loading webthreads.js"
**GET http://localhost:8000/genie.jl/master/assets/js/itllhykhbznmdrytqcbbvolcmvmiivbv/webthreads.js net::ERR_ABORTED 404 (Not Found)**

MWE is from README with one change:
[code]
Edit: put code qutation marks
@hhaensel any idea how get that fixed or work around? It blocks my work on Gitpod, can't use websockets there.

[2022-07-12 12:12] jochenkrattenmacher commented on #115
Not sure whether this is relevant, but I had a look again today and I discovered that adding "core_theme = false" to the page function call produced an error

`MethodError: no method matching injectdeps(::Vector{Any}, ::Type{SlideUI.PresentationModel}) `

(irrespective of whether "core_theme = false" was supplied as a kwarg to Stipple.init)

[2022-07-14 07:39] honghuzi opened #128 "models shared by multiple routes, but not by multiple users?"
Hello everyone, I am building my own web app with Stipple.jl. I am struggling now on uploading files. I followed the demo in https://github.com/GenieFramework/StippleDemos/blob/master/BasicExamples/CsvUpload/CSVUpload.jl and wrote my own CSV uploader. The problem is, I'd assign the DataFrames extrated from uploaded file to the main ReactiveModel just created. I just don't know how to achieve this.

[2022-07-14 09:33] hhaensel commented on #128
I think, you would need to store the session id in a private field of the model, e.g. `id__`.
Then you can read the session I'd in the routine of your upload route and store the file in a session-specific directory

[2022-07-14 10:16] jochenkrattenmacher commented on #115
I saw now that the bug I referred to in my last comment was caused by the following line:

[code]
this would be a fix:
[code]

Although as I side note, I thought that "core_theme" would only determine whether stipplecore.css is loaded or not (as opposed to also affecting stipplecore.js). Then again, stipplecore.js contains this line:
`javascript
(t = document.querySelector("html").classList).add.a

[2022-07-18 17:57] sio2bagger opened #129 "ERROR: LoadError: cannot assign a value to variable Html.source from module Main"
I'm a julia and stipple.jl noob so please bear with me. I am a little stuck. I want to send a message insert or update a dataframe using the message payload and show the results in a dataframe on a webpage.  I have the Ui working ( no data) the zmq messaging is working fine. The dataframe part isn't working for some reason. The approach works in Dash but I want to use Stipple.jl as it makes more s

[2022-07-18 18:14] #129 closed

[2022-07-18 18:15] sio2bagger commented on #129
stupid stupid stupid  of COURSE source was a reserved word. Sorry about that. couldn't figure out how to delete this waste of time.

[2022-07-18 18:24] essenciary commented on #129
Don't worry, happy to hear that you sorted it out and it works, thanks for the update.

[2022-07-18 18:26] sio2bagger commented on #129
thanks for such a WONDERFUL package for a noob like me. I am VERY excited to see how I can use it.

[2022-07-19 08:55] essenciary commented on #128
Let me try to come up with a guide/tutorial

[2022-07-20 18:44] michaelfliegner commented on #127
duplicate of https://github.com/GenieFramework/Genie.jl/issues/547

[2022-07-20 18:45] #127 closed

[2022-07-21 02:17] honghuzi opened #131 "PlotLayout has no field coloraxis"
as the doc string of PlotDataMarker says
[code]
however, when i write a PlotLayout like
[code]
the error message shows that
[code]

[2022-07-21 06:42] #131 closed

[2022-07-21 06:42] honghuzi commented on #131
This is a StipplePlotly issue

[2022-07-21 12:36] AbhimanyuAryan commented on #131
Yes thanks for closing it here

[2022-07-22 22:45] sio2bagger opened #132 "stuck on notify"
hi there
a noob here. I'm updating a dataframe from a zmq stream of messages and want to insert and update realtime. I "think" that the following should work BUT I get an error

[code]

I've cut the code to the minimum. The zmq code works as does the df update BUT I can't NOTIFY the UI???

[code]
ANY help would be appreciated.

**SOLUTION in
https://github.com/GenieFramework/Stipple.jl/discussions

[2022-07-29 18:11] WheredNateGo commented on #115
I ran into this same issue. Thanks for supplying your "solution" -- It's working well for me right now.

[2022-07-31 20:48] svilupp opened #134 "Docs / Location of the guides for Stipple"
I have noticed a typo ("recieves") in the documentation of the [Stipple lifecycle](https://genieframework.com/docs/stipple/guides/Stipple-LifeCycle.html).

I want to fix it and scan it for any other typos, but I'm struggling to find the source file to fix it.

Where is that source file located?

[2022-08-02 17:50] essenciary commented on #118
@hhaensel is this documented?

[2022-08-02 17:51] #117 closed

[2022-08-02 18:19] #5 closed

[2022-08-02 19:13] hhaensel commented on #118
Not yet

[2022-08-02 20:44] wildart commented on #132
You may want to do `push!` on model object.

[2022-08-02 20:48] sio2bagger commented on #132
Hi @wildart
thank you for taking the time and REMINDING me to update this @hhaensel was kind enough to fix the problem for me. I am a noob and I learnt a LOT from this code
https://github.com/GenieFramework/Stipple.jl/discussions/126
thanks again

[2022-08-03 08:26] jochenkrattenmacher opened #135 "Reactive Dict with string keys: curly braces not escaped properly"
Heyo!

Not sure whether this is going to be practically relevant (for me it isn't really), but here goes:

If I have a model as follows:

[code]

then the browser console throws me an error:

`Uncaught SyntaxError: missing : after property id` vartest323.js:5:115]

The problem seems to be that the curly braces are not escaped properly somehow (there is no issue with keys not containing special cha

[2022-08-03 20:59] Wikunia opened #136 "bind not working in v-html"
I'm very new to Stipple and Genie so maybe I'm doing something terribly wrong 😄
I have the following code:
[code]

based on the StippleDemo button example.

Now when I change on a button the new "help" part is rendered as well so the model.html is reactive and everything works fine.
Though when I change the value in an input field now it doesn't call the `on(model.dict)` method.
If I change `span(

[2022-08-09 05:40] hhaensel commented on #132
Let's close this as this seems to be solved

[2022-08-09 05:40] #132 closed

[2022-08-11 06:46] hhaensel commented on #136
This will not work. HTML code that is included this way will not be evaluated by Vue. If you want to edit the content of variable Dicts have a look at https://github.com/GenieFramework/StippleDemos/blob/master/BasicExamples/Tree/EditableDict.jl

[2022-08-13 05:17] #118 closed

[2022-08-13 06:07] hhaensel opened #137 "`using Stipple` creates a session folder in the current directory"
Currently Stipple creates a folder `sessions` in the current working directory when it is used or imported.
This behaviour is probably unexpected by users.
I realised this when I accidentially started Stipple for testing in C:\Windows\System32 where I didn't have write access.

Not sure how this can effectively be handled, maybe trigger folder creation upon first client access?

[2022-08-13 08:37] AbhimanyuAryan commented on #137
I reported this to Adrian as well

[2022-08-29 10:14] jochenkrattenmacher opened #141 "Add v-bind as a macro"
With Vue, it is possible to conditionally change an element's class/style, with v-bind: https://v2.vuejs.org/v2/guide/class-and-style.html

I find this a useful feature. As far as I can tell, Stipple currently does not provide any API for this. I thus wrote the following macro for myself:

[code]

an example use would be
[code]

or
[code]

Happy to create a pull-request if this would be fine (I'd

[2022-09-07 13:32] sio2bagger opened #142 "what, in general terms, causes "ChannelNotFoundException" errors please"
Sometimes when I start my stipple server I get this and I have to restart it.  Can someone point me at a way to research it. I don't want to post code as want to see how to analyze these issues myself.  I just want the fishing rod not the fish :-) thanks

`
┌ Error: Genie.WebChannels.ChannelNotFoundException("ODNWXVZVQVMILNLENTAFYZDNTPPQOGGB")
└ @ Stipple /home/dave/.julia/packages/Stipple/qiTHA/s

[2022-09-07 18:22] sio2bagger commented on #142
I have a real time update of a dataframe going and when the error happens then the web page is frozen but the dataframe continues to update in the background. In my case it doesn't stop. I don't want to post the code just yet on the forum as It's FULL of debugging crap and embaressing. I just put in the logging code so that will help A LOT :-)

  **NOW I'm having an issue with ZMQ right now** and

[2022-09-07 20:47] hhaensel commented on #142
You could ask for `model.isready[]` before you update your dataframe, e.g.
[code]
or just do

[code]
depending on how often END messages occur and whether it is important to catch all of them.

[2022-09-07 21:08] sio2bagger commented on #142
hi there @hhaensel  thank you for your suggestion and I will certainly bear it in mind. BUT the approach is
[code]
so I would have thought if the process worked the first time then I resent the same messages then all would be well in the garden but if you look at the log it isn't.  Something breaks and I don't can't figure out what it is.  I was hoping that someone could look at the log and have a

[2022-09-08 23:37] hhaensel opened #143 "Naming of models in the new @binding API"
@essenciary
The new API is really cool stuff. Here's my idea to make it more robust and performant (still not breaking 🤣 )

We introduce an abstract subtype of ReactiveModels. All model-specific definitions like js_watch would always be defined for the abstract type.

It could be along the following lines:
[code]
Any js functions would be preserved without redefinition and inference. That should b

[2022-09-08 23:39] hhaensel commented on #143
Well, if two models have the same vm name, they share the same route.
It's highly improbable though, if we keep the module names in the vm-string. It only happens, if there are some ugly characters in the type name.

[2022-09-09 16:14] comicpilsen commented on #142
@essenciary @hhaensel
hi both
this issue isn't going away and right now I'm stumped. I suspect I haven't set up the model correctly ( see above) and I don't know how to debug it ( I'm a noob),  My quandry is that the update of the dataframe works ALL the time but something breaks the realtime update of the UI.   I looked at [ https://genieframework.com/docs/stipple/guides/Stipple-LifeCycle.html](u

[2022-09-09 19:53] essenciary commented on #143
I have addressed the "same model name" issue already by including the name of the module that contains the model in the model name. This combination has to be unique because it's enforced by the compiler.

[2022-09-10 23:31] hhaensel commented on #143
I put all definitions in a macro. It's quite compact
[code]

[2022-09-12 22:13] sio2bagger commented on #142
nothiing I am doing is getting this solved. I am digging a fairly deep hole here so I'm going to switch back for a while to python/dash and pandas.

the "model.isready[]" approach did not work as the model was not found. At this moment there had been no browser activity on the web page.

when I browsed the webpage  and THEN started the ZMQ feed all was working perfectly BUT the moment refreshed th

[2022-09-12 22:13] sio2bagger commented on #142
nothiing I am doing is getting this solved. I am digging a fairly deep hole here so I'm going to switch back for a while to python/dash and pandas.

the "model.isready[]" approach did not work as the model was not found. At this moment there had been no browser activity on the web page.

when I browsed the webpage and THEN started the ZMQ feed all was working perfectly BUT the moment refreshed the

[2022-09-12 22:26] hhaensel commented on #142
What you could do in this case at least as a quick work around is to define your model globally and to initialise it in the main part of your code.
In the route you would only use the model.

[code]
The only disadvantage with this approach is that you will always look at the same model with all web browsers. So if you open more than one window, all will be synchronised. But due to your using a glo

[2022-09-12 22:47] sio2bagger commented on #142
Hi there @hhaensel

I thank you for taking the time BUT, there's always a but isn't there :-),  I am a little fatigued with julia at the moment.  I was wasting your and @essenciary time.   Clearly there is something wrong here and I don't have the skills to diagnose it.
I was almost there and the approach was proven to work. The seed IPM's built out the foundation data, the real time ipm's created

[2022-09-12 22:53] hhaensel commented on #143
For the REACTIVE_STORAGE, I'd follow the same concept but rather store expressions for the model types and not for the modules. That way it is easy to have more than one model in one module.

[code]
It shouldn't be difficult to define a default model for the module.
That way we would have the best of all worlds:

- hidden models for users who don't want to deal with models
- overwritable models
-

[2022-09-12 23:00] hhaensel commented on #143
js_methods could be also defined by a macro
[code]

[2022-09-12 23:55] sio2bagger commented on #142
thank you I SWEAR I was using the "< >" code approach. I'll make sure I use the ``` next time.  Thanks again for trying.
theakson

[2022-09-13 10:43] essenciary commented on #143
I think we need to keep the storage by module (so it could be by module and type). Because the macros are executed in the context of the module, we can easily check and retrieve what is defined in the context of that module. Also, this guarantees that there are no type name conflicts between different types defined in different modules.

However, multiple models per module looks like premature opt

[2022-09-16 21:15] hhaensel commented on #142
In general, this error is thrown when code tries to push updates of the model to the client.
In most cases it is, because a client went offline or was never online.
@essenciary Do we really have to throw an error? Wouldn't be a warning sufficient?

In case that the client is not yet online can be tackled by checking `model.isready[]`, the other case is more difficult, but a `try catch` could do th

[2022-09-16 21:37] sio2bagger commented on #142
@hhaensel  if you look at the runs I did the model isn't present.  The "seed" historical data ( HV and percentile) is used to build the dataframe BEFORE any browser activity takes place.  At that moment, it seems to me, the model has not been initialized and therefore any call to model or model.isready[] won't work. The moment I browse the web page the model is accessible. But is not real time, if

[2022-10-26 09:55] Seeking-L opened #145 "Is there any methods or labels I can do the things like v-if in vue?"
I want to make a selection, whose option creates a input when it's chosen. So I wonder if Stipple has some functions just work like v-if.
I would be very grateful if any help could be given.

[2022-10-26 09:56] Seeking-L commented on #145
Any methods like v-if?

[2022-10-26 12:41] Seeking-L commented on #145
I found it.
Still thanks a lot, for authors’ work!

[2022-10-26 13:05] essenciary commented on #145
Yes, `@iif` :) Enjoy!

[2022-10-26 13:05] #145 closed

[2022-10-27 03:26] Seeking-L opened #146 "How can I get the value of select?"
I want to get the value of select.
Any type is ok, Bool Vector to show whether the options are chosen, or a String directly tells me the chosen option.
How can I make that?
Appreciate for any help!

[2022-10-27 06:23] Seeking-L commented on #146
I found that checkbox can meet my need, but I still wonder is there any method with select.
: ) Mainly because checkbox is not as beautiful as select······

[2022-10-27 19:44] montyvesselinov opened #147 "Reactive variables are not updated in page()"
In the example below, a reactive vector called `checks` is modified during the execution of the Stipple UI.

Note that `push!(model.checks[], false)` successfully increases its length. However, the `length(model.checks)` stays equal to zero inside the `page()`.

[code]

[2022-10-27 19:49] hhaensel commented on #147
You need to check
[code]

[2022-10-27 19:51] hhaensel commented on #147
But `push!()` doesn't update the frontend, so you probably also want to do
[code]
Or were you talking of javascript before?
Anyhow, notify should solve your problem.

[2022-10-27 21:47] montyvesselinov commented on #147
Thank you @hhaensel  but `notify` does not help:

[code]

[2022-10-30 18:42] montyvesselinov commented on #147
@hhaensel  any suggestions?

[2022-11-02 13:29] jochenkrattenmacher opened #148 "Stipple.init: vue_app_name does not affect HTML root element name"
If I choose a custom name for my vue app via supplying the vue_app_name kwarg to Stipple.init, the Genie app doesn't work, because the generated HTML root element (as created by the page() function) still has the standard name. This results in a javascript error (#xyz not found)

[2022-11-05 15:44] PGimenez opened #149 "@onchangeany requires at least two arguments"
If I run the code below with just the `isready`variable, e.g., `@onchangeany isready begin` it errors out. As the error is not clear enough, perhaps there could be a check for the number of arguments.

[code]

**Error stacktrace**
[code]

[2022-11-06 23:09] hhaensel commented on #147
You need to separate the ui() and the handler:

[code]

[2022-11-06 23:16] hhaensel commented on #148
That sounds like the root() cause, indeed!
Have you tried overwriting root(), e.g.
[code]
Please let me know if that helps.

[2022-11-07 15:11] jochenkrattenmacher commented on #148
close enough :)! This helped:

[code]

(needed to overwrite the Type{M} function)

If it only always was that easy to get to the root of the problem 👀

[2022-11-07 18:56] montyvesselinov commented on #147
@hhaensel I tried to use your example but it does not work. As before, `model.checks` does not increase. Only manual refresh can help. Is there way to refresh.

[code]

[2022-11-07 19:00] montyvesselinov commented on #147
@hhaensel also refresh will not work in my real problem because resets many other variables with my real problem.

[2022-11-07 22:58] hhaensel commented on #147
There are quite some pitfalls in what you are going to achieve ...

1) You did not push! the model after page load, I added the respective routine in the handler
2) You inspected only the page but not the variable in the console. That would have told you that the variable does change but the display is corrupt.
3) Your implementation is ok for static lists, but for dynamic lists you need to use th

[2022-11-07 23:08] hhaensel commented on #147
![grafik](https://user-images.githubusercontent.com/31985040/200434502-3a004302-5bef-43a7-b5ad-7b610b9c3617.png)

[2022-11-07 23:19] hhaensel commented on #147
Just pushed the changes to StippleUI so that you can do
[code]

as soon as the new version is tagged ...

[2022-11-07 23:49] montyvesselinov commented on #147
@hhaensel  this works! thank you very much!!!!

[2022-11-07 23:49] #147 closed

[2022-11-11 10:46] hhaensel commented on #143
@essenciary I want to revive this topic as it is really annoying that all modeltype-based definitions get lost after redefining the model. I'v put some work into it and it just works. It could be easily implemented in your ReactiveTools as well.
Below is the code that I ended up with.
[code]
[code]
Should I prepare a PR?